<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改商家店铺地址')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-address-edit" th:object="${lifeBusinessAddress}">
            <input name="businessAddressId" th:field="*{businessAddressId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">区域名称：</label>
                <div class="col-sm-8">
                    <input name="businessAddressName" th:field="*{businessAddressName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">区域地址：</label>
                <div class="col-sm-8">
                    <input name="businessAddress" th:field="*{businessAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">店铺id——自有课程 ： -1：</label>
                <div class="col-sm-8">
                    <input name="businessId" th:field="*{businessId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">经度：</label>
                <div class="col-sm-8">
                    <input name="lon" th:field="*{lon}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">维度：</label>
                <div class="col-sm-8">
                    <input name="lat" th:field="*{lat}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "life/address";
        $("#form-address-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-address-edit').serialize());
            }
        }
    </script>
</body>
</html>