<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.caoz.mapper.LifePointLogMapper">
    
    <resultMap type="LifePointLog" id="LifePointLogResult">
        <result property="logId"    column="log_id"    />
        <result property="logType"    column="log_type"    />
        <result property="userId"    column="user_id"    />
        <result property="logUserId"    column="log_user_id"    />
    </resultMap>

    <sql id="selectLifePointLogVo">
        select log_id, log_type, user_id, log_user_id from life_point_log
    </sql>

    <select id="selectLifePointLogList" parameterType="LifePointLog" resultMap="LifePointLogResult">
        <include refid="selectLifePointLogVo"/>
        <where>  
            <if test="logType != null "> and log_type = #{logType}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="logUserId != null "> and log_user_id = #{logUserId}</if>
        </where>
    </select>
    
    <select id="selectLifePointLogById" parameterType="Integer" resultMap="LifePointLogResult">
        <include refid="selectLifePointLogVo"/>
        where log_id = #{logId}
    </select>
        
    <insert id="insertLifePointLog" parameterType="LifePointLog" useGeneratedKeys="true" keyProperty="logId">
        insert into life_point_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logType != null ">log_type,</if>
            <if test="userId != null ">user_id,</if>
            <if test="logUserId != null ">log_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logType != null ">#{logType},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="logUserId != null ">#{logUserId},</if>
         </trim>
    </insert>

    <update id="updateLifePointLog" parameterType="LifePointLog">
        update life_point_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="logType != null ">log_type = #{logType},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="logUserId != null ">log_user_id = #{logUserId},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deleteLifePointLogById" parameterType="Integer">
        delete from life_point_log where log_id = #{logId}
    </delete>

    <delete id="deleteLifePointLogByIds" parameterType="String">
        delete from life_point_log where log_id in 
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>
    
</mapper>