<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.caoz.mapper.LifeUserMapper">
    
    <resultMap type="LifeUser" id="LifeUserResult">
        <result property="userId"    column="user_id"    />
        <result property="cardNumber"    column="card_number"    />
        <result property="invitationCard"    column="Invitation_card"    />
        <result property="sex"    column="sex"    />
        <result property="nickName"    column="nick_name"    />
        <result property="address"    column="address"    />
        <result property="openId"    column="open_id"    />
        <result property="phone"    column="phone"    />
        <result property="paymentCode"    column="payment_code"    />
        <result property="password"    column="password"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="parentId"    column="parent_id"    />
        <result property="leadId"    column="lead_id"    />
        <result property="shareId"    column="share_id"    />
        <result property="type"    column="type"    />
        <result property="qrcode"    column="qrcode"    />
        <result property="birthday"    column="birthday"    />
        <result property="createDate"    column="create_date"    />
    </resultMap>

    <sql id="selectLifeUserVo">
        select user_id, card_number, Invitation_card, sex, nick_name, address, open_id, phone, payment_code, password, img_url, parent_id, lead_id, share_id, type, qrcode, birthday, create_date from life_user
    </sql>

    <select id="selectLifeUserList" parameterType="LifeUser" resultMap="LifeUserResult">
        <include refid="selectLifeUserVo"/>
        <where>  
            <if test="cardNumber != null  and cardNumber != ''"> and card_number = #{cardNumber}</if>
            <if test="invitationCard != null  and invitationCard != ''"> and Invitation_card = #{invitationCard}</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="openId != null  and openId != ''"> and open_id = #{openId}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="paymentCode != null "> and payment_code = #{paymentCode}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="imgUrl != null  and imgUrl != ''"> and img_url = #{imgUrl}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="leadId != null "> and lead_id = #{leadId}</if>
            <if test="shareId != null "> and share_id = #{shareId}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="qrcode != null  and qrcode != ''"> and qrcode = #{qrcode}</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
        </where>
    </select>
    
    <select id="selectLifeUserById" parameterType="Long" resultMap="LifeUserResult">
        <include refid="selectLifeUserVo"/>
        where user_id = #{userId}
    </select>


    <select id="selectLifeUserByInvitationCard" resultMap="LifeUserResult">
        <include refid="selectLifeUserVo"/>
        where invitation_card = #{InvitationCard}

    </select>
    <select id="selectLifeUserByPhone" resultMap="LifeUserResult">
        <include refid="selectLifeUserVo"/>
        where phone = #{phone}
    </select>
    <select id="selectLifeUserByOpenId" resultMap="LifeUserResult">
        <include refid="selectLifeUserVo"/>
        where open_id = #{openId}
    </select>


    <insert id="insertLifeUser" parameterType="LifeUser" useGeneratedKeys="true" keyProperty="userId">
        insert into life_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardNumber != null  and cardNumber != ''">card_number,</if>
            <if test="invitationCard != null  and invitationCard != ''">Invitation_card,</if>
            <if test="sex != null ">sex,</if>
            <if test="nickName != null  and nickName != ''">nick_name,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="openId != null  and openId != ''">open_id,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="paymentCode != null ">payment_code,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url,</if>
            <if test="parentId != null ">parent_id,</if>
            <if test="leadId != null ">lead_id,</if>
            <if test="shareId != null ">share_id,</if>
            <if test="type != null ">type,</if>
            <if test="qrcode != null  and qrcode != ''">qrcode,</if>
            <if test="birthday != null ">birthday,</if>
            <if test="createDate != null ">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardNumber != null  and cardNumber != ''">#{cardNumber},</if>
            <if test="invitationCard != null  and invitationCard != ''">#{invitationCard},</if>
            <if test="sex != null ">#{sex},</if>
            <if test="nickName != null  and nickName != ''">#{nickName},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="openId != null  and openId != ''">#{openId},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="paymentCode != null ">#{paymentCode},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="imgUrl != null  and imgUrl != ''">#{imgUrl},</if>
            <if test="parentId != null ">#{parentId},</if>
            <if test="leadId != null ">#{leadId},</if>
            <if test="shareId != null ">#{shareId},</if>
            <if test="type != null ">#{type},</if>
            <if test="qrcode != null  and qrcode != ''">#{qrcode},</if>
            <if test="birthday != null ">#{birthday},</if>
            <if test="createDate != null ">#{createDate},</if>
         </trim>
    </insert>

    <update id="updateLifeUser" parameterType="LifeUser">
        update life_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardNumber != null  and cardNumber != ''">card_number = #{cardNumber},</if>
            <if test="invitationCard != null  and invitationCard != ''">Invitation_card = #{invitationCard},</if>
            <if test="sex != null ">sex = #{sex},</if>
            <if test="nickName != null  and nickName != ''">nick_name = #{nickName},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="openId != null  and openId != ''">open_id = #{openId},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="paymentCode != null ">payment_code = #{paymentCode},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url = #{imgUrl},</if>
            <if test="parentId != null ">parent_id = #{parentId},</if>
            <if test="leadId != null ">lead_id = #{leadId},</if>
            <if test="shareId != null ">share_id = #{shareId},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="qrcode != null  and qrcode != ''">qrcode = #{qrcode},</if>
            <if test="birthday != null ">birthday = #{birthday},</if>
            <if test="createDate != null ">create_date = #{createDate},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteLifeUserById" parameterType="Long">
        delete from life_user where user_id = #{userId}
    </delete>

    <delete id="deleteLifeUserByIds" parameterType="String">
        delete from life_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
    
</mapper>