<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.caoz.mapper.LifePointMapper">
    
    <resultMap type="LifePoint" id="LifePointResult">
        <result property="pointId"    column="point_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="shareId"    column="share_id"    />
        <result property="point"    column="point"    />
        <result property="usePoint"    column="use_point"    />
        <result property="userId"    column="user_id"    />
        <result property="isSetChile"    column="is_set_chile"    />
    </resultMap>

    <sql id="selectLifePointVo">
        select point_id, order_id, start_date, end_date, share_id, point, use_point, user_id, is_set_chile from life_point
    </sql>

    <select id="selectLifePointList" parameterType="LifePoint" resultMap="LifePointResult">
        <include refid="selectLifePointVo"/>
        <where>  
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="shareId != null "> and share_id = #{shareId}</if>
            <if test="point != null "> and point = #{point}</if>
            <if test="usePoint != null "> and use_point = #{usePoint}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="isSetChile != null "> and is_set_chile = #{isSetChile}</if>
        </where>
    </select>
    
    <select id="selectLifePointById" parameterType="Long" resultMap="LifePointResult">
        <include refid="selectLifePointVo"/>
        where point_id = #{pointId}
    </select>
        
    <insert id="insertLifePoint" parameterType="LifePoint" useGeneratedKeys="true" keyProperty="pointId">
        insert into life_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">order_id,</if>
            <if test="startDate != null ">start_date,</if>
            <if test="endDate != null ">end_date,</if>
            <if test="shareId != null ">share_id,</if>
            <if test="point != null ">point,</if>
            <if test="usePoint != null ">use_point,</if>
            <if test="userId != null ">user_id,</if>
            <if test="isSetChile != null ">is_set_chile,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">#{orderId},</if>
            <if test="startDate != null ">#{startDate},</if>
            <if test="endDate != null ">#{endDate},</if>
            <if test="shareId != null ">#{shareId},</if>
            <if test="point != null ">#{point},</if>
            <if test="usePoint != null ">#{usePoint},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="isSetChile != null ">#{isSetChile},</if>
         </trim>
    </insert>

    <update id="updateLifePoint" parameterType="LifePoint">
        update life_point
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">order_id = #{orderId},</if>
            <if test="startDate != null ">start_date = #{startDate},</if>
            <if test="endDate != null ">end_date = #{endDate},</if>
            <if test="shareId != null ">share_id = #{shareId},</if>
            <if test="point != null ">point = #{point},</if>
            <if test="usePoint != null ">use_point = #{usePoint},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="isSetChile != null ">is_set_chile = #{isSetChile},</if>
        </trim>
        where point_id = #{pointId}
    </update>

    <delete id="deleteLifePointById" parameterType="Long">
        delete from life_point where point_id = #{pointId}
    </delete>

    <delete id="deleteLifePointByIds" parameterType="String">
        delete from life_point where point_id in 
        <foreach item="pointId" collection="array" open="(" separator="," close=")">
            #{pointId}
        </foreach>
    </delete>
    
</mapper>