<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商户用户列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>昵称：</p>
                                <input type="text" name="nikeName"/>
                            </li>
                            <li>
                                <p>登录名：</p>
                                <input type="text" name="loginName"/>
                            </li>
                            <li>
                                <p>密码：</p>
                                <input type="text" name="password"/>
                            </li>
                            <li>
                                <p>性别 0女 1男：</p>
                                <select name="sex" th:with="type=${@dict.getType('')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>电话号码：</p>
                                <input type="text" name="phone"/>
                            </li>
                            <li>
                                <p>所属商户：</p>
                                <input type="text" name="businessId"/>
                            </li>
                            <li>
                                <p>是否管理员：</p>
                                <input type="text" name="isAdmin"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:user:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:user:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:user:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:user:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:user:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:user:remove')}]];
        var prefix = ctx + "system/user";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "商户用户",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'userId', 
                    title : '商户用户id',
                    visible: false
                },
                {
                    field : 'nikeName', 
                    title : '昵称'
                },
                {
                    field : 'loginName', 
                    title : '登录名'
                },
                {
                    field : 'password', 
                    title : '密码'
                },
                {
                    field : 'sex', 
                    title : '性别 0女 1男'
                },
                {
                    field : 'phone', 
                    title : '电话号码'
                },
                {
                    field : 'businessId', 
                    title : '所属商户'
                },
                {
                    field : 'isAdmin', 
                    title : '是否管理员'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.userId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.userId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>