<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.user.mapper.LifeCouponReserveMapper">
    
    <resultMap type="LifeCouponReserve" id="LifeCouponReserveResult">
        <result property="receiveId"    column="receive_id"    />
        <result property="shareId"    column="share_id"    />
        <result property="couponId"    column="coupon_id"    />
        <result property="destroy"    column="destroy"    />
        <result property="status"    column="status"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
    </resultMap>

    <sql id="selectLifeCouponReserveVo">
        select receive_id, share_id, coupon_id, destroy, status, start_time, end_time from life_coupon_reserve
    </sql>

    <select id="selectLifeCouponReserveList" parameterType="LifeCouponReserve" resultMap="LifeCouponReserveResult">
        <include refid="selectLifeCouponReserveVo"/>
        <where>  
            <if test="shareId != null "> and share_id = #{shareId}</if>
            <if test="couponId != null "> and coupon_id = #{couponId}</if>
            <if test="destroy != null  and destroy != ''"> and destroy = #{destroy}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectLifeCouponReserveById" parameterType="Long" resultMap="LifeCouponReserveResult">
        <include refid="selectLifeCouponReserveVo"/>
        where receive_id = #{receiveId}
    </select>
        
    <insert id="insertLifeCouponReserve" parameterType="LifeCouponReserve" useGeneratedKeys="true" keyProperty="receiveId">
        insert into life_coupon_reserve
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shareId != null ">share_id,</if>
            <if test="couponId != null ">coupon_id,</if>
            <if test="destroy != null  and destroy != ''">destroy,</if>
            <if test="status != null ">status,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="endTime != null ">end_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shareId != null ">#{shareId},</if>
            <if test="couponId != null ">#{couponId},</if>
            <if test="destroy != null  and destroy != ''">#{destroy},</if>
            <if test="status != null ">#{status},</if>
            <if test="startTime != null ">#{startTime},</if>
            <if test="endTime != null ">#{endTime},</if>
         </trim>
    </insert>

    <update id="updateLifeCouponReserve" parameterType="LifeCouponReserve">
        update life_coupon_reserve
        <trim prefix="SET" suffixOverrides=",">
            <if test="shareId != null ">share_id = #{shareId},</if>
            <if test="couponId != null ">coupon_id = #{couponId},</if>
            <if test="destroy != null  and destroy != ''">destroy = #{destroy},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="startTime != null ">start_time = #{startTime},</if>
            <if test="endTime != null ">end_time = #{endTime},</if>
        </trim>
        where receive_id = #{receiveId}
    </update>

    <delete id="deleteLifeCouponReserveById" parameterType="Long">
        delete from life_coupon_reserve where receive_id = #{receiveId}
    </delete>

    <delete id="deleteLifeCouponReserveByIds" parameterType="String">
        delete from life_coupon_reserve where receive_id in 
        <foreach item="receiveId" collection="array" open="(" separator="," close=")">
            #{receiveId}
        </foreach>
    </delete>

    <insert id="insertLifeCouponReserves" parameterType="list" useGeneratedKeys="true" keyProperty="receiveId">
        insert into life_coupon_reserve
        <trim prefix="(" suffix=")" >
            (share_id,coupon_id,status,end_time)
        </trim>
        VALUES
        <foreach collection="couponReserveList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.shareId != null ">#{item.shareId},</if>
                <if test="item.couponId != null ">#{item.couponId},</if>
                <if test="item.status != null ">#{item.status},</if>
                <if test="item.endTime != null ">#{item.endTime},</if>
            </trim>
        </foreach>
    </insert>


    <update id="pastCoupon">
        update life_coupon_reserve set status = -1
        where now() >= end_time
    </update>

    
</mapper>