<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.user.mapper.LifeCouponLogMapper">
    
    <resultMap type="LifeCouponLog" id="LifeCouponLogResult">
        <result property="logId"    column="log_id"    />
        <result property="shareId"    column="share_id"    />
        <result property="couponReceiveId"    column="coupon_receive_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderOriginalAmount"    column="order_original_amount"    />
        <result property="couponAmount"    column="coupon_amount"    />
        <result property="orderFinalAmount"    column="order_final_amount"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectLifeCouponLogVo">
        select log_id, share_id, coupon_receive_id, order_id, order_original_amount, coupon_amount, order_final_amount, create_time, status from life_coupon_log
    </sql>

    <select id="selectLifeCouponLogList" parameterType="LifeCouponLog" resultMap="LifeCouponLogResult">
        <include refid="selectLifeCouponLogVo"/>
        <where>  
            <if test="shareId != null "> and share_id = #{shareId}</if>
            <if test="couponReceiveId != null "> and coupon_receive_id = #{couponReceiveId}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="orderOriginalAmount != null "> and order_original_amount = #{orderOriginalAmount}</if>
            <if test="couponAmount != null "> and coupon_amount = #{couponAmount}</if>
            <if test="orderFinalAmount != null "> and order_final_amount = #{orderFinalAmount}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectLifeCouponLogById" parameterType="Long" resultMap="LifeCouponLogResult">
        <include refid="selectLifeCouponLogVo"/>
        where log_id = #{logId}
    </select>
        
    <insert id="insertLifeCouponLog" parameterType="LifeCouponLog" useGeneratedKeys="true" keyProperty="logId">
        insert into life_coupon_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shareId != null ">share_id,</if>
            <if test="couponReceiveId != null ">coupon_receive_id,</if>
            <if test="orderId != null ">order_id,</if>
            <if test="orderOriginalAmount != null ">order_original_amount,</if>
            <if test="couponAmount != null ">coupon_amount,</if>
            <if test="orderFinalAmount != null ">order_final_amount,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="status != null ">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shareId != null ">#{shareId},</if>
            <if test="couponReceiveId != null ">#{couponReceiveId},</if>
            <if test="orderId != null ">#{orderId},</if>
            <if test="orderOriginalAmount != null ">#{orderOriginalAmount},</if>
            <if test="couponAmount != null ">#{couponAmount},</if>
            <if test="orderFinalAmount != null ">#{orderFinalAmount},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="status != null ">#{status},</if>
         </trim>
    </insert>

    <update id="updateLifeCouponLog" parameterType="LifeCouponLog">
        update life_coupon_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="shareId != null ">share_id = #{shareId},</if>
            <if test="couponReceiveId != null ">coupon_receive_id = #{couponReceiveId},</if>
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="orderOriginalAmount != null ">order_original_amount = #{orderOriginalAmount},</if>
            <if test="couponAmount != null ">coupon_amount = #{couponAmount},</if>
            <if test="orderFinalAmount != null ">order_final_amount = #{orderFinalAmount},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="status != null ">status = #{status},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deleteLifeCouponLogById" parameterType="Long">
        delete from life_coupon_log where log_id = #{logId}
    </delete>

    <delete id="deleteLifeCouponLogByIds" parameterType="String">
        delete from life_coupon_log where log_id in 
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>
    
</mapper>