<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.user.mapper.LifePointMapper">
    
    <resultMap type="LifePoint" id="LifePointResult">
        <result property="pointId"    column="point_id"    />
        <result property="vipId"    column="vip_id"    />
        <result property="pointType"    column="point_type"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="shareId"    column="share_id"    />
        <result property="point"    column="point"    />
        <result property="usePoint"    column="use_point"    />
        <result property="userId"    column="user_id"    />
        <result property="isSetChild"    column="is_set_child"    />
        <result property="isAddChild"    column="is_add_child"    />
    </resultMap>

    <sql id="selectLifePointVo">
        select point_id, vip_id, point_type, start_date, end_date, share_id, point, use_point, user_id, is_set_child, is_add_child from life_point
    </sql>

    <select id="selectLifePointList" parameterType="LifePoint" resultMap="LifePointResult">
        <include refid="selectLifePointVo"/>
        <where>  
            <if test="vipId != null "> and vip_id = #{vipId}</if>
            <if test="pointType != null "> and point_type = #{pointType}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="shareId != null "> and share_id = #{shareId}</if>
            <if test="point != null "> and point = #{point}</if>
            <if test="usePoint != null "> and use_point = #{usePoint}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="isSetChild != null "> and is_set_child = #{isSetChild}</if>
            <if test="isAddChild != null "> and is_add_child = #{isAddChild}</if>
        </where>
    </select>
    
    <select id="selectLifePointById" parameterType="Long" resultMap="LifePointResult">
        <include refid="selectLifePointVo"/>
        where point_id = #{pointId}
    </select>


    <insert id="insertLifePoint" parameterType="LifePoint" useGeneratedKeys="true" keyProperty="pointId">
        insert into life_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vipId != null ">vip_id,</if>
            <if test="pointType != null ">point_type,</if>
            <if test="startDate != null ">start_date,</if>
            <if test="endDate != null ">end_date,</if>
            <if test="shareId != null ">share_id,</if>
            <if test="point != null ">point,</if>
            <if test="usePoint != null ">use_point,</if>
            <if test="userId != null ">user_id,</if>
            <if test="isSetChild != null ">is_set_child,</if>
            <if test="isAddChild != null ">is_add_child,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vipId != null ">#{vipId},</if>
            <if test="pointType != null ">#{pointType},</if>
            <if test="startDate != null ">#{startDate},</if>
            <if test="endDate != null ">#{endDate},</if>
            <if test="shareId != null ">#{shareId},</if>
            <if test="point != null ">#{point},</if>
            <if test="usePoint != null ">#{usePoint},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="isSetChild != null ">#{isSetChild},</if>
            <if test="isAddChild != null ">#{isAddChild},</if>
         </trim>
    </insert>

    <update id="updateLifePoint" parameterType="LifePoint">
        update life_point
        <trim prefix="SET" suffixOverrides=",">
            <if test="vipId != null ">vip_id = #{vipId},</if>
            <if test="pointType != null ">point_type = #{pointType},</if>
            <if test="startDate != null ">start_date = #{startDate},</if>
            <if test="endDate != null ">end_date = #{endDate},</if>
            <if test="shareId != null ">share_id = #{shareId},</if>
            <if test="point != null ">point = #{point},</if>
            <if test="usePoint != null ">use_point = #{usePoint},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="isSetChild != null ">is_set_child = #{isSetChild},</if>
            <if test="isAddChild != null ">is_add_child = #{isAddChild},</if>
        </trim>
        where point_id = #{pointId}
    </update>

    <delete id="deleteLifePointById" parameterType="Long">
        delete from life_point where point_id = #{pointId}
    </delete>

    <delete id="deleteLifePointByIds" parameterType="String">
        delete from life_point where point_id in 
        <foreach item="pointId" collection="array" open="(" separator="," close=")">
            #{pointId}
        </foreach>
    </delete>


    <delete id="pastPoint">
        delete from life_point
        where now() >= end_date
    </delete>

    <select id="selectNotSetChildPoint" resultMap="LifePointResult">
        <include refid="selectLifePointVo"/>
        where is_set_child > 0 and pointType = 1
    </select>


</mapper>