<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.life.mapper.LifeCourseDetailMapper">
    
    <resultMap type="LifeCourseDetail" id="LifeCourseDetailResult">
        <result property="courseDetailId"    column="course_detail_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="week"    column="week"    />
        <result property="startHour"    column="start_hour"    />
        <result property="startMinute"    column="start_minute"    />
        <result property="courseDuration"    column="course_duration"    />
        <result property="courseRefundHour"    column="course_refund_hour"    />
    </resultMap>

    <sql id="selectLifeCourseDetailVo">
        select course_detail_id, course_id, week, start_hour, start_minute, course_duration, course_refund_hour from life_course_detail
    </sql>

    <select id="selectLifeCourseDetailList" parameterType="LifeCourseDetail" resultMap="LifeCourseDetailResult">
        <include refid="selectLifeCourseDetailVo"/>
        <where>  
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="week != null "> and week = #{week}</if>
            <if test="startHour != null "> and start_hour = #{startHour}</if>
            <if test="startMinute != null "> and start_minute = #{startMinute}</if>
            <if test="courseDuration != null "> and course_duration = #{courseDuration}</if>
            <if test="courseRefundHour != null "> and course_refund_hour = #{courseRefundHour}</if>
        </where>
    </select>
    
    <select id="selectLifeCourseDetailById" parameterType="Long" resultMap="LifeCourseDetailResult">
        <include refid="selectLifeCourseDetailVo"/>
        where course_detail_id = #{courseDetailId}
    </select>
        
    <insert id="insertLifeCourseDetail" parameterType="LifeCourseDetail" useGeneratedKeys="true" keyProperty="courseDetailId">
        insert into life_course_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null ">course_id,</if>
            <if test="week != null ">week,</if>
            <if test="startHour != null ">start_hour,</if>
            <if test="startMinute != null ">start_minute,</if>
            <if test="courseDuration != null ">course_duration,</if>
            <if test="courseRefundHour != null ">course_refund_hour,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null ">#{courseId},</if>
            <if test="week != null ">#{week},</if>
            <if test="startHour != null ">#{startHour},</if>
            <if test="startMinute != null ">#{startMinute},</if>
            <if test="courseDuration != null ">#{courseDuration},</if>
            <if test="courseRefundHour != null ">#{courseRefundHour},</if>
         </trim>
    </insert>

    <update id="updateLifeCourseDetail" parameterType="LifeCourseDetail">
        update life_course_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null ">course_id = #{courseId},</if>
            <if test="week != null ">week = #{week},</if>
            <if test="startHour != null ">start_hour = #{startHour},</if>
            <if test="startMinute != null ">start_minute = #{startMinute},</if>
            <if test="courseDuration != null ">course_duration = #{courseDuration},</if>
            <if test="courseRefundHour != null ">course_refund_hour = #{courseRefundHour},</if>
        </trim>
        where course_detail_id = #{courseDetailId}
    </update>

    <delete id="deleteLifeCourseDetailById" parameterType="Long">
        delete from life_course_detail where course_detail_id = #{courseDetailId}
    </delete>

    <delete id="deleteLifeCourseDetailByIds" parameterType="String">
        delete from life_course_detail where course_detail_id in 
        <foreach item="courseDetailId" collection="array" open="(" separator="," close=")">
            #{courseDetailId}
        </foreach>
    </delete>


    <select id="selectNowCourse" resultMap="LifeCourseDetailResult">
        <include refid="selectLifeCourseDetailVo"/>
        where week = date_format(current_date,'%w') ;
    </select>
    <select id="getListInCourseId" resultType="java.lang.Long">
        select course_id from life_course_detail
        where course_detail_id in
          <foreach collection="list" item="item" open="(" close=")" separator=",">
              #{item}
          </foreach>
        group by course_id
    </select>
    <select id="selectLifeCourseDetailListByIds" resultMap="LifeCourseDetailResult">
        <include refid="selectLifeCourseDetailVo"/>
        where course_detail_id in
          <foreach collection="list" item="item" separator="," open="(" close=")">
              #{item}
          </foreach>
    </select>
    <select id="getListByCourseId" resultMap="LifeCourseDetailResult">
        <include refid="selectLifeCourseDetailVo"/>
        where course_id = #{courseId}
    </select>


</mapper>