<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.life.mapper.LifePointMapper">
    
    <resultMap type="LifePoint" id="LifePointResult">
        <result property="pointId"    column="point_id"    />
        <result property="vipId"    column="vip_id"    />
        <result property="pointType"    column="point_type"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="shareId"    column="share_id"    />
        <result property="point"    column="point"    />
        <result property="usePoint"    column="use_point"    />
        <result property="userId"    column="user_id"    />
        <result property="isSetChild"    column="is_set_child"    />
        <result property="isAddChild"    column="is_add_child"    />
    </resultMap>

    <sql id="selectLifePointVo">
        select point_id, vip_id, point_type, start_date, end_date, share_id, point, use_point, user_id, is_set_child, is_add_child from life_point
    </sql>

    <select id="selectLifePointList" parameterType="LifePoint" resultMap="LifePointResult">
        <include refid="selectLifePointVo"/>
        <where>  
            <if test="vipId != null "> and vip_id = #{vipId}</if>
            <if test="pointType != null "> and point_type = #{pointType}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="shareId != null "> and share_id = #{shareId}</if>
            <if test="point != null "> and point = #{point}</if>
            <if test="usePoint != null "> and use_point = #{usePoint}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="isSetChild != null "> and is_set_child = #{isSetChild}</if>
            <if test="isAddChild != null "> and is_add_child = #{isAddChild}</if>
        </where>
    </select>
    
    <select id="selectLifePointById" parameterType="Long" resultMap="LifePointResult">
        <include refid="selectLifePointVo"/>
        where point_id = #{pointId}
    </select>


    <insert id="insertLifePoint" parameterType="LifePoint" useGeneratedKeys="true" keyProperty="pointId">
        insert into life_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vipId != null ">vip_id,</if>
            <if test="pointType != null ">point_type,</if>
            <if test="startDate != null ">start_date,</if>
            <if test="endDate != null ">end_date,</if>
            <if test="shareId != null ">share_id,</if>
            <if test="point != null ">point,</if>
            <if test="usePoint != null ">use_point,</if>
            <if test="userId != null ">user_id,</if>
            <if test="isSetChild != null ">is_set_child,</if>
            <if test="isAddChild != null ">is_add_child,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vipId != null ">#{vipId},</if>
            <if test="pointType != null ">#{pointType},</if>
            <if test="startDate != null ">#{startDate},</if>
            <if test="endDate != null ">#{endDate},</if>
            <if test="shareId != null ">#{shareId},</if>
            <if test="point != null ">#{point},</if>
            <if test="usePoint != null ">#{usePoint},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="isSetChild != null ">#{isSetChild},</if>
            <if test="isAddChild != null ">#{isAddChild},</if>
         </trim>
    </insert>
    <insert id="insertList">
        insert into life_point(vip_id,point_type,start_date,end_date,share_id,point,use_point,user_id,is_add_child,is_set_child)
        values
        <foreach collection="list" item="item"  separator=",">
            (#{item.vipId},#{item.pointType},#{item.startDate},#{item.endDate},#{item.shareId},#{item.point},#{item.usePoint},#{item.userId},#{item.isAddChild},#{item.isSetChild})
        </foreach>
    </insert>


    <update id="updateLifePoint" parameterType="LifePoint">
        update life_point
        <trim prefix="SET" suffixOverrides=",">
            <if test="vipId != null ">vip_id = #{vipId},</if>
            <if test="pointType != null ">point_type = #{pointType},</if>
            <if test="startDate != null ">start_date = #{startDate},</if>
            <if test="endDate != null ">end_date = #{endDate},</if>
            <if test="shareId != null ">share_id = #{shareId},</if>
            <if test="point != null ">point = #{point},</if>
            <if test="usePoint != null ">use_point = #{usePoint},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="isSetChild != null ">is_set_child = #{isSetChild},</if>
            <if test="isAddChild != null ">is_add_child = #{isAddChild},</if>
        </trim>
        where point_id = #{pointId}
    </update>

    <delete id="deleteLifePointById" parameterType="Long">
        delete from life_point where point_id = #{pointId}
    </delete>

    <delete id="deleteLifePointByIds" parameterType="string">
        delete from life_point where point_id in 
        <foreach item="pointId" collection="array" open="(" separator="," close=")">
            #{pointId}
        </foreach>
    </delete>

    <delete id="pastPoint">
        delete from life_point
        where now() >= end_date
    </delete>
    <delete id="deleteAllPoint">
        delete from life_point
        where share_id = #{shareId}
    </delete>

    <select id="getPointByShareId" resultMap="LifePointResult">
        <include refid="selectLifePointVo"/>
        where share_id = #{shareId} and use_point > 0
        order by end_date asc,point_type desc
    </select>

    <select id="getUserPointDetail" resultType="com.ruoyi.life.domain.vo.system.LifePointVo">
        select point.use_point as `point`,point.point_type as `source`,vip.vip_name as vipName,user.phone as phone,point.start_date as startDate,point.end_date as endDate from life_point as point
        inner join life_user as user on user.user_id = point.user_id
        left join life_vip as vip on vip.vip_id = point.vip_id
        where point.share_id = #{shareId}
    </select>
    <select id="selectExcelVipByUserId" resultType="java.lang.Integer">
        select count(0) from life_point
        where vip_id in (
          select vip_id from life_vip
          where vip_level = 1
        ) and share_id = #{userId}
    </select>
    <select id="getExcelVipUserId">
        select user_id from life_point
        where vip_id = 4
    </select>
    <select id="getPointByBigVip" resultType="java.lang.Long">
        select vip_id from life_point
        where share_id = #{shareId}
        order by vip_id desc
        limit 1
    </select>
    <select id="getUserPoint" resultType="java.lang.Long">
        select sum(point) from life_point
        where share_id = #{shareId}
        group by share_id
    </select>
    <select id="getBeOnTheVergeOfPoint" resultMap="LifePointResult">
        <include refid="selectLifePointVo"/>
        where share_id = #{shareId}
        order by end_date
        limit 1
    </select>
    <select id="getUserNotSetChildPoint" resultType="com.ruoyi.life.domain.vo.user.LifeNotSetPointVo">
        select
          point.point_id as pointId,
          point.is_add_child as addNum,
          vip.child as setNum,
          point.is_set_child as setTime,
          vip.vip_name as vipName,
          point.start_date as start,
          point.end_date as `end`
        from life_point as point
        inner join life_vip as vip on  vip.vip_id = point.vip_id
        where user_id = #{userId} and point.is_set_child = 1
    </select>

    <update id="reducePoint">
        update life_point set use_point = use_point - #{param2}
        where point_id = #{param1} and use_point >= #{param2}
    </update>


    <update id="setShareIdByUserId">
        update life_point set share_id = #{userId}
        where user_id = #{shareId}
    </update>
    <select id="getUserPointInfo" resultMap="LifePointResult">
        <include refid="selectLifePointVo"/>
        where share_id = #{shareId}
        order by end_date desc

    </select>
</mapper>