<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.life.mapper.LifeCouponMapper">
    
    <resultMap type="com.ruoyi.life.domain.LifeCoupon" id="LifeCouponResult">
        <result property="couponId"    column="coupon_id"    />
        <result property="type"    column="type"    />
        <result property="name"    column="name"    />
        <result property="img"    column="img"    />
        <result property="fullPoint"    column="full_point"    />
        <result property="discount"    column="discount"    />
        <result property="point"    column="point"    />
        <result property="intervalDay"    column="interval_day"    />
        <result property="enableDay"    column="enable_day"    />
        <result property="astrict"    column="astrict"    />
        <result property="remarks"    column="remarks"    />
        <result property="createTime"    column="create_time"    />
        <result property="deleteFlag"    column="delete_flag"    />
    </resultMap>

    <sql id="selectLifeCouponVo">
        select coupon_id, type, name, img, full_point, discount, point, interval_day, enable_day, astrict, remarks, create_time, delete_flag from life_coupon
    </sql>

    <select id="selectLifeCouponList" parameterType="LifeCoupon" resultMap="LifeCouponResult">
        <include refid="selectLifeCouponVo"/>
        <where>  
            <if test="type != null "> and type = #{type}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
            <if test="fullPoint != null "> and full_point = #{fullPoint}</if>
            <if test="discount != null "> and discount = #{discount}</if>
            <if test="point != null "> and point = #{point}</if>
            <if test="intervalDay != null "> and interval_day = #{intervalDay}</if>
            <if test="enableDay != null "> and enable_day = #{enableDay}</if>
            <if test="astrict != null "> and astrict = #{astrict}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            and delete_flag = 0
        </where>

    </select>
    
    <select id="selectLifeCouponById" parameterType="Long" resultMap="LifeCouponResult">
        <include refid="selectLifeCouponVo"/>
        where coupon_id = #{couponId}
    </select>



    <insert id="insertLifeCoupon" parameterType="LifeCoupon" useGeneratedKeys="true" keyProperty="couponId">
        insert into life_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null ">type,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="img != null  and img != ''">img,</if>
            <if test="fullPoint != null ">full_point,</if>
            <if test="discount != null ">discount,</if>
            <if test="point != null ">point,</if>
            <if test="intervalDay != null ">interval_day,</if>
            <if test="enableDay != null ">enable_day,</if>
            <if test="astrict != null ">astrict,</if>
            <if test="remarks != null  and remarks != ''">remarks,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="deleteFlag != null ">delete_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null ">#{type},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="img != null  and img != ''">#{img},</if>
            <if test="fullPoint != null ">#{fullPoint},</if>
            <if test="discount != null ">#{discount},</if>
            <if test="point != null ">#{point},</if>
            <if test="intervalDay != null ">#{intervalDay},</if>
            <if test="enableDay != null ">#{enableDay},</if>
            <if test="astrict != null ">#{astrict},</if>
            <if test="remarks != null  and remarks != ''">#{remarks},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="deleteFlag != null ">#{deleteFlag},</if>
         </trim>
    </insert>

    <update id="updateLifeCoupon" parameterType="LifeCoupon">
        update life_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null ">type = #{type},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="img != null  and img != ''">img = #{img},</if>
            <if test="fullPoint != null ">full_point = #{fullPoint},</if>
            <if test="discount != null ">discount = #{discount},</if>
            <if test="point != null ">point = #{point},</if>
            <if test="intervalDay != null ">interval_day = #{intervalDay},</if>
            <if test="enableDay != null ">enable_day = #{enableDay},</if>
            <if test="astrict != null ">astrict = #{astrict},</if>
            <if test="remarks != null  and remarks != ''">remarks = #{remarks},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="deleteFlag != null ">delete_flag = #{deleteFlag},</if>
        </trim>
        where coupon_id = #{couponId}
    </update>

    <delete id="deleteLifeCouponById" parameterType="Long">
        delete from life_coupon where coupon_id = #{couponId}
    </delete>

    <update id="deleteLifeCouponByCouponIds" parameterType="String">
        update  life_coupon set delete_flag = 1
        where coupon_id in
        <foreach item="couponId" collection="array" open="(" separator="," close=")">
            #{couponId}
        </foreach>
    </update>
    <update id="deleteLifeCouponByCourseIds">
        update  life_coupon set delete_flag = 1
        where astrict in
        <foreach collection="courseIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <select id="selectLifeCouponByIds" resultMap="LifeCouponResult">
        <include refid="selectLifeCouponVo"/>
        where coupon_id in
        <foreach collection="couponIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>