<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.life.mapper.LifeConfigMapper">
    
    <resultMap type="LifeConfig" id="LifeConfigResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="config"    column="config"    />
    </resultMap>

    <sql id="selectLifeConfigVo">
        select id, name, config from life_config
    </sql>
    <update id="set">
        update life_config set config = #{value}
        where name = #{name}
    </update>

    <select id="selectLifeConfigList" parameterType="LifeConfig" resultMap="LifeConfigResult">
        <include refid="selectLifeConfigVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="config != null  and config != ''"> and config = #{config}</if>
        </where>
    </select>
    

    
</mapper>