<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.life.mapper.LifePointLogMapper">
    
    <resultMap type="LifePointLog" id="LifePointLogResult">
        <result property="logId"    column="log_id"    />
        <result property="logType"    column="log_type"    />
        <result property="point"    column="point"    />
        <result property="price"    column="price"    />
        <result property="userId"    column="user_id"    />
        <result property="logUserId"    column="log_user_id"    />
        <result property="explain"    column="explain"    />
        <result property="orderId"    column="order_id"    />
        <result property="addTime"    column="add_time"    />
    </resultMap>

    <sql id="selectLifePointLogVo">
        select log_id, log_type, point, price, user_id, log_user_id, explain, order_id, add_time from life_point_log
    </sql>

    <select id="selectLifePointLogList" parameterType="LifePointLog" resultMap="LifePointLogResult">
        <include refid="selectLifePointLogVo"/>
        <where>  
            <if test="logType != null "> and log_type = #{logType}</if>
            <if test="point != null "> and point = #{point}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="logUserId != null "> and log_user_id = #{logUserId}</if>
            <if test="explain != null  and explain != ''"> and explain = #{explain}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
        </where>
    </select>
    
    <select id="selectLifePointLogById" parameterType="Integer" resultMap="LifePointLogResult">
        <include refid="selectLifePointLogVo"/>
        where log_id = #{logId}
    </select>
        
    <insert id="insertLifePointLog" parameterType="LifePointLog" useGeneratedKeys="true" keyProperty="logId">
        insert into life_point_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logType != null ">log_type,</if>
            <if test="point != null ">point,</if>
            <if test="price != null ">price,</if>
            <if test="userId != null ">user_id,</if>
            <if test="logUserId != null ">log_user_id,</if>
            <if test="explain != null  and explain != ''">`explain`,</if>
            <if test="orderId != null ">order_id,</if>
            <if test="addTime != null ">add_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logType != null ">#{logType},</if>
            <if test="point != null ">#{point},</if>
            <if test="price != null ">#{price},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="logUserId != null ">#{logUserId},</if>
            <if test="explain != null  and explain != ''">#{explain},</if>
            <if test="orderId != null ">#{orderId},</if>
            <if test="addTime != null ">#{addTime},</if>
         </trim>
    </insert>


    <update id="updateLifePointLog" parameterType="LifePointLog">
        update life_point_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="logType != null ">log_type = #{logType},</if>
            <if test="point != null ">point = #{point},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="logUserId != null ">log_user_id = #{logUserId},</if>
            <if test="explain != null  and explain != ''">explain = #{explain},</if>
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="addTime != null ">add_time = #{addTime},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deleteLifePointLogById" parameterType="Integer">
        delete from life_point_log where log_id = #{logId}
    </delete>

    <delete id="deleteLifePointLogByIds" parameterType="String">
        delete from life_point_log where log_id in 
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>


    <insert id="pastPointLog">
      insert into life_point_log(log_type, point, price, user_id, log_user_id, `explain`, order_id, add_time)
        select -2 as log_type,use_point,0 as price,user_id,user_id as log_user_id,'积分过期' as `explain`,null as order_id,end_date from life_point
        where NOW() >= end_date
    </insert>
    
</mapper>