<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.life.mapper.LifeCourseMapper">

    <resultMap type="LifeCourse" id="LifeCourseResult">
        <result property="courseId"    column="course_id"    />
        <result property="name"    column="name"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="carouselUrl"    column="carousel_url"    />
        <result property="courseType"    column="course_type"    />
        <result property="courseLabelId"    column="course_label_id"    />
        <result property="courseClassifyPid"    column="course_classify_pid"    />
        <result property="courseClassifyId"    column="course_classify_id"    />
        <result property="courseKind"    column="course_kind"    />
        <result property="ageOnset"    column="age_onset"    />
        <result property="ageEnd"    column="age_end"    />
        <result property="teacherName"    column="teacher_name"    />
        <result property="teacherExplain"    column="teacher_explain"    />
        <result property="number"    column="number"    />
        <result property="describe"    column="describe"    />
        <result property="businessId"    column="business_id"    />
        <result property="businessAddressId"    column="business_address_id"    />
        <result property="ruleUrl"    column="rule_url"    />
        <result property="information"    column="information"    />
        <result property="rulePrice"    column="rule_price"    />
        <result property="status"    column="status"    />
        <result property="deleteFlage"    column="delete_flage"    />
        <result property="price"    column="price"    />
        <result property="point"    column="point"    />
        <result property="orderBy"    column="order_by"    />
        <result property="sales"    column="sales"    />
        <result property="recommend"    column="recommend"    />
        <result property="putawayDate"    column="putaway_date"    />
        <result property="soldOutDate"    column="sold_out_date"    />
    </resultMap>

    <sql id="selectLifeCourseVo">
        select course_id, name, img_url, carousel_url, course_type, course_label_id, course_classify_pid, course_classify_id, course_kind, age_onset, age_end, teacher_name, teacher_explain, number, `describe`, business_id, business_address_id, rule_url, information, rule_price, status, delete_flage, price, point, order_by, sales, recommend, putaway_date, sold_out_date from life_course
    </sql>

    <select id="selectLifeCourseList" parameterType="LifeCourse" resultMap="LifeCourseResult">
        <include refid="selectLifeCourseVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="imgUrl != null  and imgUrl != ''"> and img_url = #{imgUrl}</if>
            <if test="carouselUrl != null  and carouselUrl != ''"> and carousel_url = #{carouselUrl}</if>
            <if test="courseType != null "> and course_type = #{courseType}</if>
            <if test="courseLabelId != null "> and course_label_id = #{courseLabelId}</if>
            <if test="courseClassifyPid != null "> and course_classify_pid = #{courseClassifyPid}</if>
            <if test="courseClassifyId != null "> and course_classify_id = #{courseClassifyId}</if>
            <if test="courseKind != null "> and course_kind = #{courseKind}</if>
            <if test="ageOnset != null "> and age_onset = #{ageOnset}</if>
            <if test="ageEnd != null "> and age_end = #{ageEnd}</if>
            <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="teacherExplain != null  and teacherExplain != ''"> and teacher_explain = #{teacherExplain}</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="describe != null  and describe != ''"> and describe = #{describe}</if>
            <if test="businessId != null "> and business_id = #{businessId}</if>
            <if test="businessAddressId != null "> and business_address_id = #{businessAddressId}</if>
            <if test="ruleUrl != null  and ruleUrl != ''"> and rule_url = #{ruleUrl}</if>
            <if test="information != null  and information != ''"> and information = #{information}</if>
            <if test="rulePrice != null "> and rule_price = #{rulePrice}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="deleteFlage != null "> and delete_flage = #{deleteFlage}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="point != null "> and point = #{point}</if>
            <if test="orderBy != null "> and order_by = #{orderBy}</if>
            <if test="sales != null "> and sales = #{sales}</if>
            <if test="recommend != null "> and recommend = #{recommend}</if>
            <if test="putawayDate != null "> and putaway_date = #{putawayDate}</if>
            <if test="soldOutDate != null "> and sold_out_date = #{soldOutDate}</if>
        </where>
    </select>

    <select id="selectLifeCourseById" parameterType="Long" resultMap="LifeCourseResult">
        <include refid="selectLifeCourseVo"/>
        where course_id = #{courseId}
    </select>

    <insert id="insertLifeCourse" parameterType="LifeCourse" useGeneratedKeys="true" keyProperty="courseId">
        insert into life_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url,</if>
            <if test="carouselUrl != null  and carouselUrl != ''">carousel_url,</if>
            <if test="courseType != null ">course_type,</if>
            <if test="courseLabelId != null ">course_label_id,</if>
            <if test="courseClassifyPid != null ">course_classify_pid,</if>
            <if test="courseClassifyId != null ">course_classify_id,</if>
            <if test="courseKind != null ">course_kind,</if>
            <if test="ageOnset != null ">age_onset,</if>
            <if test="ageEnd != null ">age_end,</if>
            <if test="teacherName != null  and teacherName != ''">teacher_name,</if>
            <if test="teacherExplain != null  and teacherExplain != ''">teacher_explain,</if>
            <if test="number != null ">number,</if>
            <if test="describe != null  and describe != ''">`describe`,</if>
            <if test="businessId != null ">business_id,</if>
            <if test="businessAddressId != null ">business_address_id,</if>
            <if test="ruleUrl != null  and ruleUrl != ''">rule_url,</if>
            <if test="information != null  and information != ''">information,</if>
            <if test="rulePrice != null ">rule_price,</if>
            <if test="status != null ">status,</if>
            <if test="deleteFlage != null ">delete_flage,</if>
            <if test="price != null ">price,</if>
            <if test="point != null ">point,</if>
            <if test="orderBy != null ">order_by,</if>
            <if test="sales != null ">sales,</if>
            <if test="recommend != null ">recommend,</if>
            <if test="putawayDate != null ">putaway_date,</if>
            <if test="soldOutDate != null ">sold_out_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="imgUrl != null  and imgUrl != ''">#{imgUrl},</if>
            <if test="carouselUrl != null  and carouselUrl != ''">#{carouselUrl},</if>
            <if test="courseType != null ">#{courseType},</if>
            <if test="courseLabelId != null ">#{courseLabelId},</if>
            <if test="courseClassifyPid != null ">#{courseClassifyPid},</if>
            <if test="courseClassifyId != null ">#{courseClassifyId},</if>
            <if test="courseKind != null ">#{courseKind},</if>
            <if test="ageOnset != null ">#{ageOnset},</if>
            <if test="ageEnd != null ">#{ageEnd},</if>
            <if test="teacherName != null  and teacherName != ''">#{teacherName},</if>
            <if test="teacherExplain != null  and teacherExplain != ''">#{teacherExplain},</if>
            <if test="number != null ">#{number},</if>
            <if test="describe != null  and describe != ''">#{describe},</if>
            <if test="businessId != null ">#{businessId},</if>
            <if test="businessAddressId != null ">#{businessAddressId},</if>
            <if test="ruleUrl != null  and ruleUrl != ''">#{ruleUrl},</if>
            <if test="information != null  and information != ''">#{information},</if>
            <if test="rulePrice != null ">#{rulePrice},</if>
            <if test="status != null ">#{status},</if>
            <if test="deleteFlage != null ">#{deleteFlage},</if>
            <if test="price != null ">#{price},</if>
            <if test="point != null ">#{point},</if>
            <if test="orderBy != null ">#{orderBy},</if>
            <if test="sales != null ">#{sales},</if>
            <if test="recommend != null ">#{recommend},</if>
            <if test="putawayDate != null ">#{putawayDate},</if>
            <if test="soldOutDate != null ">#{soldOutDate},</if>
        </trim>
    </insert>

    <update id="updateLifeCourse" parameterType="LifeCourse">
        update life_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url = #{imgUrl},</if>
            <if test="carouselUrl != null  and carouselUrl != ''">carousel_url = #{carouselUrl},</if>
            <if test="courseType != null ">course_type = #{courseType},</if>
            <if test="courseLabelId != null ">course_label_id = #{courseLabelId},</if>
            <if test="courseClassifyPid != null ">course_classify_pid = #{courseClassifyPid},</if>
            <if test="courseClassifyId != null ">course_classify_id = #{courseClassifyId},</if>
            <if test="courseKind != null ">course_kind = #{courseKind},</if>
            <if test="ageOnset != null ">age_onset = #{ageOnset},</if>
            <if test="ageEnd != null ">age_end = #{ageEnd},</if>
            <if test="teacherName != null  and teacherName != ''">teacher_name = #{teacherName},</if>
            <if test="teacherExplain != null  and teacherExplain != ''">teacher_explain = #{teacherExplain},</if>
            <if test="number != null ">number = #{number},</if>
            <if test="describe != null  and describe != ''">describe = #{describe},</if>
            <if test="businessId != null ">business_id = #{businessId},</if>
            <if test="businessAddressId != null ">business_address_id = #{businessAddressId},</if>
            <if test="ruleUrl != null  and ruleUrl != ''">rule_url = #{ruleUrl},</if>
            <if test="information != null  and information != ''">information = #{information},</if>
            <if test="rulePrice != null ">rule_price = #{rulePrice},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="deleteFlage != null ">delete_flage = #{deleteFlage},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="point != null ">point = #{point},</if>
            <if test="orderBy != null ">order_by = #{orderBy},</if>
            <if test="sales != null ">sales = #{sales},</if>
            <if test="recommend != null ">recommend = #{recommend},</if>
            <if test="putawayDate != null ">putaway_date = #{putawayDate},</if>
            <if test="soldOutDate != null ">sold_out_date = #{soldOutDate},</if>
        </trim>
        where course_id = #{courseId}
    </update>

    <delete id="deleteLifeCourseById" parameterType="Long">
        delete from life_course where course_id = #{courseId}
    </delete>

    <update id="deleteLifeCourseByIds" parameterType="String">
        update life_course set delete_flage = 1 ,status = 0 where course_id in
        <foreach item="courseId" collection="array" open="(" separator="," close=")">
            #{courseId}
        </foreach>
    </update>

    <select id="selectLifeCourseBySearchVo" resultType="com.ruoyi.life.domain.vo.user.LifeCourseByConditionVo">
        select
        course.course_id as courseId,
        course.img_url as url,course.name as `name`,
        classify.img as classifyUrl,
        classify.course_classify_name as classifyName,
        course.point as point,
        course.price as price,
        course.age_onset as startAge,
        course.age_end as endAge,
        IF(course.teacher_name is null ,address.business_address_name,course.teacher_name) as addressOrTeacherName,
        course.number as maxPeople ,
        IF(reserve.reserve_num is null ,course.number,reserve.reserve_num)  as residuePeople,
        IF(collect.collect_id is null,'false','true') as isCollect,
        round(st_distance_sphere (point (#{conditionVo.lon},#{conditionVo.lat}),point (address.lon,address.lat))/1000,1) as addressNum,
        detail.course_detail_id as courseDetailId
        from life_course as course
        left join life_collect as collect on collect.collect_course_id = course.course_id and collect.user_id = #{userId}
        LEFT join life_business_address as address on address.business_address_id = course.business_address_id
        inner join life_course_classify as classify on classify.course_classify_id = course.course_classify_id
        inner join life_course_detail as detail on detail.course_id = course.course_id
        left join life_reserve as reserve on reserve.course_detail_id = detail.course_detail_id and reserve.reserve_date = #{conditionVo.date}
        <where>
            <if test="conditionVo.date != null">
                detail.course_detail_id =  (
                  select course_detail_id from life_course_detail
                  where course_id = course.course_id and
                  (
                    start_hour > date_format(#{conditionVo.date},'%H') or
                    start_minute > date_format(#{conditionVo.date},'%i') and
                    start_hour = date_format(#{conditionVo.date},'%H')
                  ) and
                  week = date_format(#{conditionVo.date},'%w')
                  order by start_hour asc,start_minute asc
                  limit 1
                ) and
            </if>
            <if test="conditionVo.endAge != null and conditionVo.endAge != -1">
                (course.age_onset between #{conditionVo.startAge} and #{conditionVo.endAge} or
                course.age_end between #{conditionVo.startAge} and #{conditionVo.endAge} or
                course.age_end = -1) and
            </if>
            <if test="conditionVo.courseType">
                course.course_type = #{conditionVo.courseType} and
            </if>
            <if test="conditionVo.courseClassifyId != null">
                course.course_classify_id in (select course_classify_id from life_course_classify where pid = #{conditionVo.courseClassifyId}) and
            </if>
            <if test="conditionVo.courseLabelId != null">
                course.course_label_id = #{conditionVo.courseLabelId} and
            </if>
            course.course_kind = #{conditionVo.courseKind} and course.status = 1 and course.delete_flage = 0
        </where>

        <choose>
            <when test="conditionVo.recommend">
                order by course.recommend desc
            </when>
            <when test="conditionVo.distance">
                order by round(st_distance_sphere (point (#{conditionVo.lon},#{conditionVo.lat}),point (address.lon,address.lat))) asc
            </when>
            <when test="conditionVo.synthesize">
                order by (course.recommend + course.sales + course.order_by) desc
            </when>
            <when test="conditionVo.price != null">
                <choose>
                    <when test="conditionVo.price">
                        order by course.price desc
                    </when>
                    <when test="!conditionVo.price">
                        order by course.price asc
                    </when>
                </choose>
            </when>
            <when test="conditionVo.sales">
                order by course.sales desc
            </when>
        </choose>
    </select>


    <select id="getLifeCourseDetailByCourseId" resultType="com.ruoyi.life.domain.vo.user.LifeCourseDetailVo">
        select
        course.course_id as course_id,
        course.name as `name`,
        course.course_kind as courseKind,
        classify.img as classifyUrl,
        classify.course_classify_name as classifyName,
        round(st_distance_sphere (point (#{lon},#{lat}),point (address.lon,address.lat))/1000,1) as addressNum,
        address.business_address_name as address,
        course.age_onset as startAge,
        course.age_end as endAge,
        course.img_url as courseUrl,
        course.carousel_url as carouselUrl,
        course.point as point,
        course.price as price,
        course.describe as `describe`,
        course.number as number,
        business.name as businessName,
        course.information as information,
        course.teacher_name as teacherName,
        course.teacher_explain as teacherExplain,
        IF(collect.collect_id is null,'false','true') as isCollect,
        course.status as status
        from life_course as course
        left join life_collect as collect on collect.collect_course_id = course.course_id and collect.user_id = #{userId}
        inner join life_business_address as address on address.business_address_id = course.business_address_id
        left join life_business as business on business.business_id = course.business_id
        inner join life_course_classify as classify on classify.course_classify_id = course.course_classify_id
        where course.course_id = #{courseId}

    </select>
    <select id="getSysLifeCourseVoBySearch" resultType="com.ruoyi.life.domain.vo.system.LifeCourseVo">
        select
        course.course_id as courseId,
        course.name as courseName,
        course.img_url as imgUrl,
        course.course_type as courseType,
        label.course_label_name as courseLabel,
        classify.course_classify_name as courseClassify,
        course.course_kind as courseKind,
        course.number as number,
        business.name as businessName,
        course.rule_url as ruleUrl,
        course.information as information,
        course.status  as status,
        course.price as price,
        course.point as point,
        course.order_by as orderBy,
        course.recommend as recommend,
        course.sales as sales,
        course.putaway_date as putawayDate,
        course.sold_out_date as soldOutDate
        from life_course as course
        inner join life_course_classify as classify on classify.course_classify_id = course.course_classify_id
        inner join life_course_label as label on label.course_label_id = course.course_label_id
        left join life_business as business on business.business_id = course.business_id
        <trim prefix="where" suffixOverrides="and|or">
            <if test="name != null and name != ''">
                course.name like concat('%',#{name},'%') and
            </if>
            <if test="courseType != null">
                course.course_type = #{courseType} and
            </if>
            <if test="courseLabel != null">
                course.course_label_id = #{courseLabel} and
            </if>
            <choose>
                <when test="courseClassifyId">
                    course.course_classify_id = #{courseClassifyId} and
                </when>
                <when test="courseClassify2">
                    classify.pid = #{courseClassify2} and
                </when>
                <when test="courseClassifyPid">
                    course.course_classify_pid = #{courseClassifyPid} and
                </when>
            </choose>
            <if test="courseKind != null">
                course.course_kind = #{courseKind} and
            </if>
            <if test="businessName != null and businessName != ''">
                business.name like concat('%',#{businessName},'%') and
            </if>
            <if test="status != null">
                course.status = #{status} and
            </if>
            course.delete_flage = 0
        </trim>
        order by course_id desc
    </select>
    <select id="selectLifeCourseByClassifyIds" resultType="java.lang.Integer">
        select count(0) from life_course
        where delete_flage = 0 and course_classify_id in
        <foreach collection="courseClassifyIds" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
    </select>


    <update id="deleteLifeCourseByClassifyIds">
        update life_course set delete_flage = 1
        where course_classify_id in
        <foreach item="item" collection="courseClassifyIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>



    <select id="selectLifeCourseByLabelIds" resultType="java.lang.Integer">
        select count(0) from life_course
        where delete_flage = 0 and course_label_id in
        <foreach collection="ids" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectLifeCourseByName" resultType="java.lang.Integer">
        select count(0) from life_course
        where `name` = #{name} and delete_flage = 0
        <if test="courseId != null">
            and course_id != #{courseId}
        </if>
    </select>

    <update id="coursePlusSales">
        update life_course set sales = sales+1
        where course_id = #{courseId}
    </update>
    <select id="getCourseNumByAddressIds" resultType="java.lang.Integer">
        select count(0) from life_course
        where business_address_id in
        <foreach collection="addressIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>