<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.life.mapper.LifeUserMapper">
    
    <resultMap type="LifeUser" id="LifeUserResult">
        <result property="userId"    column="user_id"    />
        <result property="cardNumber"    column="card_number"    />
        <result property="invitationCard"    column="invitation_card"    />
        <result property="wxNickName"    column="wx_nick_name"    />
        <result property="wxImgUrl"    column="wx_img_url"    />
        <result property="sex"    column="sex"    />
        <result property="nickName"    column="nick_name"    />
        <result property="address"    column="address"    />
        <result property="openId"    column="open_id"    />
        <result property="balance"    column="balance"    />
        <result property="phone"    column="phone"    />
        <result property="paymentCode"    column="payment_code"    />
        <result property="password"    column="password"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="parentId"    column="parent_id"    />
        <result property="leadId"    column="lead_id"    />
        <result property="shareId"    column="share_id"    />
        <result property="qrcode"    column="qrcode"    />
        <result property="companyId"    column="company_id"    />
        <result property="birthday"    column="birthday"    />
        <result property="createDate"    column="create_date"    />
        <result property="bindDate"    column="bind_date"    />
    </resultMap>

    <sql id="selectLifeUserVo">
        select user_id, card_number, invitation_card, wx_nick_name, wx_img_url, sex, nick_name, address, open_id, balance, phone, payment_code, password, img_url, parent_id, lead_id, share_id, qrcode,  company_id, birthday, create_date, bind_date from life_user
    </sql>

    <select id="selectLifeUserList" parameterType="LifeUser" resultMap="LifeUserResult">
        <include refid="selectLifeUserVo"/>
        <where>  
            <if test="cardNumber != null  and cardNumber != ''"> and card_number = #{cardNumber}</if>
            <if test="invitationCard != null  and invitationCard != ''"> and invitation_card = #{invitationCard}</if>
            <if test="wxNickName != null  and wxNickName != ''"> and wx_nick_name like concat('%', #{wxNickName}, '%')</if>
            <if test="wxImgUrl != null  and wxImgUrl != ''"> and wx_img_url = #{wxImgUrl}</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="openId != null  and openId != ''"> and open_id = #{openId}</if>
            <if test="balance != null "> and balance = #{balance}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="paymentCode != null "> and payment_code = #{paymentCode}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="imgUrl != null  and imgUrl != ''"> and img_url = #{imgUrl}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="leadId != null "> and lead_id = #{leadId}</if>
            <if test="shareId != null "> and share_id = #{shareId}</if>
            <if test="qrcode != null  and qrcode != ''"> and qrcode = #{qrcode}</if>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="bindDate != null "> and bind_date = #{bindDate}</if>
        </where>
    </select>
    
    <select id="selectLifeUserById" parameterType="Long" resultMap="LifeUserResult">
        <include refid="selectLifeUserVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertLifeUser" parameterType="LifeUser" useGeneratedKeys="true" keyProperty="userId">
        insert into life_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardNumber != null  and cardNumber != ''">card_number,</if>
            <if test="invitationCard != null  and invitationCard != ''">invitation_card,</if>
            <if test="wxNickName != null  and wxNickName != ''">wx_nick_name,</if>
            <if test="wxImgUrl != null  and wxImgUrl != ''">wx_img_url,</if>
            <if test="sex != null ">sex,</if>
            <if test="nickName != null  and nickName != ''">nick_name,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="openId != null  and openId != ''">open_id,</if>
            <if test="balance != null ">balance,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="paymentCode != null ">payment_code,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url,</if>
            <if test="parentId != null ">parent_id,</if>
            <if test="leadId != null ">lead_id,</if>
            <if test="shareId != null ">share_id,</if>
            <if test="qrcode != null  and qrcode != ''">qrcode,</if>
            <if test="companyId != null ">company_id,</if>
            <if test="birthday != null ">birthday,</if>
            <if test="createDate != null ">create_date,</if>
            <if test="bindDate != null ">bind_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardNumber != null  and cardNumber != ''">#{cardNumber},</if>
            <if test="invitationCard != null  and invitationCard != ''">#{invitationCard},</if>
            <if test="wxNickName != null  and wxNickName != ''">#{wxNickName},</if>
            <if test="wxImgUrl != null  and wxImgUrl != ''">#{wxImgUrl},</if>
            <if test="sex != null ">#{sex},</if>
            <if test="nickName != null  and nickName != ''">#{nickName},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="openId != null  and openId != ''">#{openId},</if>
            <if test="balance != null ">#{balance},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="paymentCode != null ">#{paymentCode},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="imgUrl != null  and imgUrl != ''">#{imgUrl},</if>
            <if test="parentId != null ">#{parentId},</if>
            <if test="leadId != null ">#{leadId},</if>
            <if test="shareId != null ">#{shareId},</if>
            <if test="qrcode != null  and qrcode != ''">#{qrcode},</if>
            <if test="companyId != null ">#{companyId},</if>
            <if test="birthday != null ">#{birthday},</if>
            <if test="createDate != null ">#{createDate},</if>
            <if test="bindDate != null ">#{bindDate},</if>
         </trim>
    </insert>

    <update id="updateLifeUser" parameterType="LifeUser">
        update life_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardNumber != null  and cardNumber != ''">card_number = #{cardNumber},</if>
            <if test="invitationCard != null  and invitationCard != ''">invitation_card = #{invitationCard},</if>
            <if test="wxNickName != null  and wxNickName != ''">wx_nick_name = #{wxNickName},</if>
            <if test="wxImgUrl != null  and wxImgUrl != ''">wx_img_url = #{wxImgUrl},</if>
            <if test="sex != null ">sex = #{sex},</if>
            <if test="nickName != null  and nickName != ''">nick_name = #{nickName},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="openId != null  and openId != ''">open_id = #{openId},</if>
            <if test="balance != null ">balance = #{balance},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="paymentCode != null ">payment_code = #{paymentCode},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url = #{imgUrl},</if>
            <if test="parentId != null ">parent_id = #{parentId},</if>
            <if test="leadId != null ">lead_id = #{leadId},</if>
            <if test="shareId != null ">share_id = #{shareId},</if>
            <if test="qrcode != null  and qrcode != ''">qrcode = #{qrcode},</if>
            <if test="companyId != null ">company_id = #{companyId},</if>
            <if test="birthday != null ">birthday = #{birthday},</if>
            <if test="createDate != null ">create_date = #{createDate},</if>
            <if test="bindDate != null ">bind_date = #{bindDate},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteLifeUserById" parameterType="Long">
        delete from life_user where user_id = #{userId}
    </delete>

    <delete id="deleteLifeUserByIds" parameterType="String">
        delete from life_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>



    <update id="deductBalance">
        update life_user set balance = balance - #{price}
        where user_id = #{userId} and balance >= #{price}
    </update>


    <select id="selectLifeUserByInvitationCard" resultMap="LifeUserResult">
        <include refid="selectLifeUserVo"/>
        where invitation_card = #{InvitationCard}
    </select>
    <select id="selectLifeUserByPhone" resultMap="LifeUserResult">
        <include refid="selectLifeUserVo"/>
        where phone = #{phone}
    </select>
    <select id="selectLifeUserByOpenId" resultMap="LifeUserResult">
        <include refid="selectLifeUserVo"/>
        where open_id = #{openId}
    </select>
    <select id="selectLifeUserVoList" resultType="com.ruoyi.life.domain.dto.system.LifeUserDto">
      select
        `user`.user_id as `userId`,
        `user`.card_number as cardNumber,
        `user`.invitation_card as invitationCard ,
        `user`.wx_img_url as wxImgUrl,
        `user`.wx_nick_name as wxNickName,
        `user`.img_url as imgUrl,
        `user`.phone as phone,
        max(`point`.vip_id) as vipId,
        sum(`point`.use_point) as point,
        `user`.share_id as bindShare,
        `user`.nick_name as nickName,
        `user`.sex as sex,
        `user`.balance as balance,
        `company`.company_name as companyName,
        `user`.create_date as createDate
      from life_user as `user`
      left  join life_point as `point` on `point`.share_id = `user`.share_id or (`user`.share_id is null and `point`.user_id = `user`.user_id)
      left join life_company as company on company.company_id = user.company_id
      <trim prefix="where " prefixOverrides="and|or" suffixOverrides="and|or">
        <if test="cardNumber != null and cardNumber != ''">
            `user`.card_number = #{cardNumber} and
        </if>
        <if test="invitationCard != null  and invitationCard != ''">
            `user`.invitation_card = #{invitationCard} and
        </if>
        <if test="sex != null">
            `user`.sex = #{sex} and
        </if>
        <if test="nickName != null and nickName != ''">
            `user`.nick_name like concat('%',#{nickName},'%') and
        </if>
        <if test="phone != null and phone != ''">
            `user`.phone = #{phone} and
        </if>
        <if test="companyName != null and companyName != ''">
            `company`.company_name like concat('%',#{companyName},'%') and
        </if>
        <choose>
            <when test="startDate != null and endDate != null">
                `user`.create_date between #{startDate} and #{endDate} and
            </when>
            <when test="startDate != null">
                `user`.create_date >= #{startDate} and
            </when>
            <when test="endDate">
                #{endDate} >= `user`.create_date and
            </when>
        </choose>
        <choose>
            <when test="vipId == null">
                `point`.vip_id is null
            </when>
            <when test="vipId == -1">

            </when>
            <when test="vipId != null">
                `point`.vip_id = #{vipId}
            </when>
        </choose>
      </trim>
      group by `user`.user_id
    </select>
    <select id="getUserNum" resultType="com.ruoyi.life.domain.dto.system.LifeUserNumDto">
        select count(user_id) as num,date_format(create_date,'%Y-%m-%d') as date from life_user
        where date_format(create_date,#{type}) >= date_format(#{startDate},#{type}) and  date_format(#{endDate},#{type}) > date_format(create_date,#{type})
        group by date_format(create_date,#{type})
    </select>
    <select id="getFirstUserCreateDate" resultType="java.time.LocalDate">
        select min(create_date) from life_user
    </select>
    <select id="getNowAddUserNum" resultType="java.lang.Long">
        select count(user_id) from life_user
        where date_format(create_date,'%Y-%m-%d') = current_date
    </select>
    <select id="getUserCount" resultType="java.lang.Long">
        select count(user_id) from life_user
    </select>
    <select id="getUserCountByCompanyIds" resultType="java.lang.Integer">
        select count(0) from life_user
        where company_id in 
        <foreach collection="companyIds" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>


    <update id="refund">
        update life_user set balance = balance + #{param2}
        where user_id = #{param1}
    </update>


    <select id="selectUserByParentId" resultMap="LifeUserResult">
        <include refid="selectLifeUserVo"/>
        where parent_id = #{parentId}
    </select>



    <update id="updateLeadId">
        update life_user set lead_id = #{leadId}
        where user_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.userId}
        </foreach>
    </update>
    <update id="becomeExcel">
       update life_user set lead_id = 0 ,parent_id = 0
       where user_id = #{userId}
    </update>
    <update id="rechargeBalance">
      update life_user set balance = balance + #{price}
      where user_id = #{userId}
    </update>

    <select id="getShareUser" resultMap="LifeUserResult">
        <include refid="selectLifeUserVo"/>
        where share_id = #{userId} and user_id != #{userId}
    </select>
    <select id="generalizeUser" resultType="com.ruoyi.life.domain.vo.user.LifeGeneralizeUserVo">
        select
          user_id as userId,
          img_url as userImgUrl,
          nick_name as nickName,
          create_date as addTime
        from life_user
        where parent_id = #{userId}
    </select>
    <select id="getInviteVo" resultType="com.ruoyi.life.domain.vo.user.LifeInviteVo">
        SELECT
	      `user`.user_id AS userId,
	      `user`.img_url AS userImgUrl,
	      `user`.nick_name AS nickName,
	      log.point AS point,
	      log.add_time AS addTime
        FROM
        	life_point_log AS log
        	INNER JOIN life_user AS `user` ON `user`.user_id = log.user_id
        WHERE
        	`user`.parent_id = 13
        	AND log.log_id = ( SELECT log_id FROM life_point_log WHERE user_id = `user`.user_id AND log_type = 2 ORDER BY add_time LIMIT 1 )
    </select>
    <select id="getPersonInfo" resultType="com.ruoyi.life.domain.vo.user.LifePersonInfoVo">
        select
          `user`.user_id as userId,
          `user`.img_url as imgUrl,
          `user`.nick_name as nickName,
          `user`.birthday as birthday,
          `user`.sex as sex,
          `user`.address as address,
          `user`.phone as phone,
          company.company_name as companyName,
          if(`user`.payment_code is null ,false,true) as payPasswordFlag,
          `user`.wx_nick_name as wxName
        from life_user as `user`
        left join life_company as company on company.company_id = `user`.company_id
        where `user`.user_id = #{userId}
    </select>


</mapper>