<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.life.mapper.LifeUserChildMapper">
    
    <resultMap type="LifeUserChild" id="LifeUserChildResult">
        <result property="childId"    column="child_id"    />
        <result property="shareId"    column="share_id"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="enable"    column="enable"    />
        <result property="imgUrl"    column="img_url"    />
    </resultMap>

    <sql id="selectLifeUserChildVo">
        select child_id, share_id, name, sex, birthday, enable, img_url from life_user_child
    </sql>

    <select id="selectLifeUserChildList" parameterType="LifeUserChild" resultMap="LifeUserChildResult">
        <include refid="selectLifeUserChildVo"/>
        <where>  
            <if test="shareId != null "> and share_id = #{shareId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="enable != null "> and enable = #{enable}</if>
            <if test="imgUrl != null  and imgUrl != ''"> and img_url = #{imgUrl}</if>
        </where>
    </select>
    
    <select id="selectLifeUserChildById" parameterType="Long" resultMap="LifeUserChildResult">
        <include refid="selectLifeUserChildVo"/>
        where child_id = #{childId}
    </select>
        
    <insert id="insertLifeUserChild" parameterType="LifeUserChild" useGeneratedKeys="true" keyProperty="childId">
        insert into life_user_child
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shareId != null ">share_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="sex != null ">sex,</if>
            <if test="birthday != null ">birthday,</if>
            <if test="enable != null ">enable,</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shareId != null ">#{shareId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="sex != null ">#{sex},</if>
            <if test="birthday != null ">#{birthday},</if>
            <if test="enable != null ">#{enable},</if>
            <if test="imgUrl != null  and imgUrl != ''">#{imgUrl},</if>
         </trim>
    </insert>

    <update id="updateLifeUserChild" parameterType="LifeUserChild">
        update life_user_child
        <trim prefix="SET" suffixOverrides=",">
            <if test="shareId != null ">share_id = #{shareId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="sex != null ">sex = #{sex},</if>
            <if test="birthday != null ">birthday = #{birthday},</if>
            <if test="enable != null ">enable = #{enable},</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url = #{imgUrl},</if>
        </trim>
        where child_id = #{childId}
    </update>

    <delete id="deleteLifeUserChildById" parameterType="Long">
        delete from life_user_child where child_id = #{childId}
    </delete>

    <delete id="deleteLifeUserChildByIds" parameterType="String">
        delete from life_user_child where child_id in 
        <foreach item="childId" collection="array" open="(" separator="," close=")">
            #{childId}
        </foreach>
    </delete>
    <select id="getChildByShareId" resultMap="LifeUserChildResult">
        select uc.child_id as child_id, uc.share_id as share_id,  uc.name as `name` ,  uc.sex as sex,  uc.birthday as birthday,  uc.enable as enable  from life_user_child as uc
        inner join life_point_child as pc on child_id = pc.user_child_id
        where uc.share_id = #{shareId}
        group by uc.child_id
    </select>

    <select id="getChildAllByShareId" resultMap="LifeUserChildResult">
        <include refid="selectLifeUserChildVo"/>
        where share_id = #{shareId}
    </select>
    <select id="getChildArrayShareId" resultType="java.lang.Long">
        select share_id from life_user_child
        where child_id in
        <foreach collection="childIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        group by share_id
    </select>
</mapper>