<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.life.mapper.LifeBusinessCourseMapper">
    
    <resultMap type="LifeBusinessCourse" id="LifeBusinessCourseResult">
        <result property="courseId"    column="course_id"    />
        <result property="name"    column="name"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="carouselUrl"    column="carouse_url"    />
        <result property="price"    column="price"    />
        <result property="courseType"    column="course_type"    />
        <result property="courseLabelId"    column="course_label_id"    />
        <result property="courseClassifyId"    column="course_classify_id"    />
        <result property="number"    column="number"    />
        <result property="ageStart"    column="age_start"    />
        <result property="ageEnd"    column="age_end"    />
        <result property="describe"    column="describe"    />
        <result property="businessId"    column="business_id"    />
        <result property="ruleUrl"    column="rule_url"    />
        <result property="checkFlage"    column="check_flage"    />
        <result property="information"    column="information"    />
        <result property="checkContent"    column="check_content"    />
        <result property="addTime"    column="add_time"    />
        <result property="checkTime"    column="check_time"    />
        <result property="bindTopThread"    column="bind_top_thread"    />
    </resultMap>

    <sql id="selectLifeBusinessCourseVo">
        select course_id, name, img_url,carouse_url, price, course_type, course_label_id, course_classify_id, number,
         age_start, age_end, `describe`, business_id, rule_url, check_flage, information,
         check_content, add_time, check_time,bind_top_thread from life_business_course
    </sql>

    <select id="selectLifeBusinessCourseList" parameterType="LifeBusinessCourse" resultMap="LifeBusinessCourseResult">
        <include refid="selectLifeBusinessCourseVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="imgUrl != null  and imgUrl != ''"> and img_url = #{imgUrl}</if>
            <if test="carouselUrl != null  and carouselUrl != ''"> and carouse_url = #{carouselUrl}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="courseType != null "> and course_type = #{courseType}</if>
            <if test="courseLabelId != null "> and course_label_id = #{courseLabelId}</if>
            <if test="courseClassifyId != null "> and course_classify_id = #{courseClassifyId}</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="ageStart != null "> and age_start = #{ageStart}</if>
            <if test="ageEnd != null "> and age_end = #{ageEnd}</if>
            <if test="describe != null  and describe != ''"> and describe = #{describe}</if>
            <if test="businessId != null "> and business_id = #{businessId}</if>
            <if test="ruleUrl != null  and ruleUrl != ''"> and rule_url = #{ruleUrl}</if>
            <if test="checkFlage != null "> and check_flage = #{checkFlage}</if>
            <if test="information != null  and information != ''"> and information = #{information}</if>
            <if test="checkContent != null  and checkContent != ''"> and check_content = #{checkContent}</if>
            <if test="addTime != null "> and add_time = #{addTime}</if>
            <if test="checkTime != null "> and check_time = #{checkTime}</if>
            <if test="bindTopThread != null "> and bind_top_thread = #{bindTopThread}</if>
        </where>
    </select>
    
    <select id="selectLifeBusinessCourseById" parameterType="Long" resultMap="LifeBusinessCourseResult">
        <include refid="selectLifeBusinessCourseVo"/>
        where course_id = #{courseId}
    </select>


    <insert id="insertLifeBusinessCourse" parameterType="LifeBusinessCourse" useGeneratedKeys="true" keyProperty="courseId">
        insert into life_business_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url,</if>
            <if test="carouselUrl != null  and carouselUrl != ''"> carouse_url ,</if>
            <if test="price != null ">price,</if>
            <if test="courseType != null ">course_type,</if>
            <if test="courseLabelId != null ">course_label_id,</if>
            <if test="courseClassifyId != null ">course_classify_id,</if>
            <if test="number != null ">number,</if>
            <if test="ageStart != null ">age_start,</if>
            <if test="ageEnd != null ">age_end,</if>
            <if test="describe != null  and describe != ''">describe,</if>
            <if test="businessId != null ">business_id,</if>
            <if test="ruleUrl != null  and ruleUrl != ''">rule_url,</if>
            <if test="checkFlage != null ">check_flage,</if>
            <if test="information != null  and information != ''">information,</if>
            <if test="checkContent != null  and checkContent != ''">check_content,</if>
            <if test="addTime != null ">add_time,</if>
            <if test="checkTime != null ">check_time,</if>
            <if test="bindTopThread != null "> bind_top_thread,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="imgUrl != null  and imgUrl != ''">#{imgUrl},</if>
            <if test="carouselUrl != null  and carouselUrl != ''"> #{carouselUrl},</if>
            <if test="price != null ">#{price},</if>
            <if test="courseType != null ">#{courseType},</if>
            <if test="courseLabelId != null ">#{courseLabelId},</if>
            <if test="courseClassifyId != null ">#{courseClassifyId},</if>
            <if test="number != null ">#{number},</if>
            <if test="ageStart != null ">#{ageStart},</if>
            <if test="ageEnd != null ">#{ageEnd},</if>
            <if test="describe != null  and describe != ''">#{describe},</if>
            <if test="businessId != null ">#{businessId},</if>
            <if test="ruleUrl != null  and ruleUrl != ''">#{ruleUrl},</if>
            <if test="checkFlage != null ">#{checkFlage},</if>
            <if test="information != null  and information != ''">#{information},</if>
            <if test="checkContent != null  and checkContent != ''">#{checkContent},</if>
            <if test="addTime != null ">#{addTime},</if>
            <if test="checkTime != null ">#{checkTime},</if>
            <if test="bindTopThread != null "> #{bindTopThread},</if>
         </trim>
    </insert>

    <update id="updateLifeBusinessCourse" parameterType="LifeBusinessCourse">
        update life_business_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url = #{imgUrl},</if>
            <if test="carouselUrl != null  and carouselUrl != ''"> carouse_url = #{carouselUrl},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="courseType != null ">course_type = #{courseType},</if>
            <if test="courseLabelId != null ">course_label_id = #{courseLabelId},</if>
            <if test="courseClassifyId != null ">course_classify_id = #{courseClassifyId},</if>
            <if test="number != null ">number = #{number},</if>
            <if test="ageStart != null ">age_start = #{ageStart},</if>
            <if test="ageEnd != null ">age_end = #{ageEnd},</if>
            <if test="describe != null  and describe != ''">describe = #{describe},</if>
            <if test="businessId != null ">business_id = #{businessId},</if>
            <if test="ruleUrl != null  and ruleUrl != ''">rule_url = #{ruleUrl},</if>
            <if test="checkFlage != null ">check_flage = #{checkFlage},</if>
            <if test="information != null  and information != ''">information = #{information},</if>
            <if test="checkContent != null  and checkContent != ''">check_content = #{checkContent},</if>
            <if test="addTime != null ">add_time = #{addTime},</if>
            <if test="checkTime != null ">check_time = #{checkTime},</if>
            <if test="bindTopThread != null "> bind_top_thread = #{bindTopThread},</if>
        </trim>
        where course_id = #{courseId}
    </update>

    <delete id="deleteLifeBusinessCourseById" parameterType="Long">
        delete from life_business_course where course_id = #{courseId}
    </delete>

    <delete id="deleteLifeBusinessCourseByIds" parameterType="String">
        delete from life_business_course where course_id in 
        <foreach item="courseId" collection="array" open="(" separator="," close=")">
            #{courseId}
        </foreach>
    </delete>

    <select id="selectLifeBusinessCourseVoBySearchVo"
            resultType="com.ruoyi.life.domain.vo.system.LifeBusinessCourseVo">

        select
            course.course_id as courseId,
            course.name as name,
            course.img_url as imgUrl,
            course.carousel_url as carouselUrl,
            course.price as price,
            course.course_type as courseType,
            label.course_label_name as courseLabel,
            classify.course_classify_name as courseClassify,
            course.number as number,
            course.age_start as ageStart,
            course.age_end as ageEnd,
            course.`describe` as `describe`,
            business.name as businessName,
            course.rule_url as ruleUrl,
            course.check_flage as checkFlage,
            course.information as information,
            course.check_content as checkContent,
            course.add_time as addTime,
            course.check_time as checkTime,
            course.bind_top_thread as bindTopThread

        from life_business_course as course
        left join life_course_label as label on label.course_label_id = course.course_id
        left join life_course_classify as classify on classify.course_classify_id = course.course_classify_id
        inner join life_business as business on business.business_id = course.business_id
        <trim prefix="where " suffixOverrides="and|or">
            <if test="courseId != null">
                course.course_id = #{courseId} and
            </if>
            <if test="courseName != null and courseName != ''">
                course.name like concat('%',#{courseName},'%') and
            </if>
            <if test="courseType!= null">
                course.course_type = #{courseType} and
            </if>
            <if test="courseLabelId != null">
                course.course_label_id = #{courseLabelId} and
            </if>
            <choose>
                <when test="courseClassify3">
                    course.course_classify_id = #{courseClassify3} and
                </when>
                <when test="courseClassify2">
                    classify.pid = #{courseClassify2} and
                </when>
                <when test="courseClassify1">
                    course.course_classify_pid = #{courseClassify1} and
                </when>
            </choose>
            <if test="businessName != null and businessName != ''">
                business.name like concat('%',#{businessName},'%') and
            </if>
            <if test="checkFlage != null">
                course.check_flage = #{checkFlage} and
            </if>

            <choose>
                <when test="addTimeStart != null and addTimeEnd != null">
                    course.add_time >= #{addTimeStart} and #{addTimeEnd} >= course.add_time and
                </when>
                <when test="addTimeStart != null">
                    course.add_time >= #{addTimeStart} and
                </when>
                <when test="addTimeEnd != null">
                    #{addTimeEnd} >= course.add_time and
                </when>
            </choose>

            <choose>
                <when test="checkTimeStart != null and checkTimeEnd != null">
                    course.check_time >= #{checkTimeStart} and #{checkTimeEnd} >= course.check_time and
                </when>
                <when test="checkTimeStart != null">
                    course.check_time >= #{checkTimeStart} and
                </when>
                <when test="checkTimeEnd != null">
                    #{checkTimeEnd} >= course.check_time and
                </when>
            </choose>
        </trim>
    </select>
</mapper>