<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.life.mapper.LifeCouponReceiveMapper">
    
    <resultMap type="LifeCouponReceive" id="LifeCouponReceiveResult">
        <result property="receiveId"    column="receive_id"    />
        <result property="shareId"    column="share_id"    />
        <result property="couponId"    column="coupon_id"    />
        <result property="destroy"    column="destroy"    />
        <result property="status"    column="status"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
    </resultMap>

    <sql id="selectLifeCouponReceiveVo">
        select receive_id, share_id, coupon_id, destroy, status, start_time, end_time from life_coupon_receive
    </sql>

    <select id="selectLifeCouponReceiveList" parameterType="LifeCouponReceive" resultMap="LifeCouponReceiveResult">
        <include refid="selectLifeCouponReceiveVo"/>
        <where>  
            <if test="shareId != null "> and share_id = #{shareId}</if>
            <if test="couponId != null "> and coupon_id = #{couponId}</if>
            <if test="destroy != null  and destroy != ''"> and destroy = #{destroy}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectLifeCouponReceiveById" parameterType="Long" resultMap="LifeCouponReceiveResult">
        <include refid="selectLifeCouponReceiveVo"/>
        where receive_id = #{receiveId}
    </select>


    <insert id="insertLifeCouponReceive" parameterType="LifeCouponReceive" useGeneratedKeys="true" keyProperty="receiveId">
        insert into life_coupon_receive
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shareId != null ">share_id,</if>
            <if test="couponId != null ">coupon_id,</if>
            <if test="destroy != null  and destroy != ''">destroy,</if>
            <if test="status != null ">status,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="endTime != null ">end_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shareId != null ">#{shareId},</if>
            <if test="couponId != null ">#{couponId},</if>
            <if test="destroy != null  and destroy != ''">#{destroy},</if>
            <if test="status != null ">#{status},</if>
            <if test="startTime != null ">#{startTime},</if>
            <if test="endTime != null ">#{endTime},</if>
         </trim>
    </insert>

    <update id="updateLifeCouponReceive" parameterType="LifeCouponReceive">
        update life_coupon_receive
        <trim prefix="SET" suffixOverrides=",">
            <if test="shareId != null ">share_id = #{shareId},</if>
            <if test="couponId != null ">coupon_id = #{couponId},</if>
            <if test="destroy != null  and destroy != ''">destroy = #{destroy},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="startTime != null ">start_time = #{startTime},</if>
            <if test="endTime != null ">end_time = #{endTime},</if>
        </trim>
        where receive_id = #{receiveId}
    </update>

    <delete id="deleteLifeCouponReceiveById" parameterType="Long">
        delete from life_coupon_receive where receive_id = #{receiveId}
    </delete>

    <delete id="deleteLifeCouponReceiveByIds" parameterType="String">
        delete from life_coupon_receive where receive_id in
        <foreach item="receiveId" collection="array" open="(" separator="," close=")">
            #{receiveId}
        </foreach>
    </delete>

    <insert id="insertLifeCouponReceives" parameterType="list" useGeneratedKeys="true" keyProperty="receiveId">
        insert into life_coupon_receive
        (share_id,coupon_id,destroy,status,start_time,end_time)
        VALUES
        <foreach collection="couponReceiveList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.shareId != null ">#{item.shareId},</if>
                <if test="item.couponId != null ">#{item.couponId},</if>
                <if test="item.destroy != null and item.destroy != '' ">#{item.destroy},</if>
                <if test="item.status != null ">#{item.status},</if>
                <if test="item.startTime != null ">#{item.startTime},</if>
                <if test="item.endTime != null ">#{item.endTime},</if>
            </trim>
        </foreach>
    </insert>


    <update id="pastCoupon">
        update life_coupon_receive set status = -1
        where now() >= end_time and status = 0
    </update>
    <update id="backCoupon">
        update life_coupon_receive set status = 0
        where end_time > current_date and receive_id in
        <foreach collection="couponReceiveIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>



    <select id="getUserCoupon" resultType="com.ruoyi.life.domain.vo.user.LifeUserCouponVo">
        select
            receive.receive_id as couponReceiveId,
            coupon.name as `name`,
            coupon.img as img,
            coupon.type as `type`,
            ifnull(coupon.discount,coupon.point) as `value`,
            receive.status as `status`,
            coupon.astrict as astrict,
            course.name as astrictCourseName,
            receive.start_time as startDate,
            receive.end_time as endDate
        from life_coupon_receive as receive
        inner join life_coupon as coupon on  coupon.coupon_id = receive.coupon_id
        left join life_course as course on  course.course_id = coupon.astrict
        where receive.share_id = #{param1} and receive.status = #{param2}
    </select>
    <select id="getUserCouponByCouponReceive" resultType="java.lang.Long">
        select coupon_id from life_coupon_receive
        where share_id = #{param1} and receive_id = #{param2} and status = 0
    </select>

    <update id="useCoupon">
        update life_coupon_receive set status = 1
        where receive_id = #{courseReceiveId}
    </update>
</mapper>