<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改公司员工所送优惠券')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-coupon-edit" th:object="${lifeCompanyCoupon}">
            <input name="comparyCouponId" th:field="*{comparyCouponId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">优惠卷id、：</label>
                <div class="col-sm-8">
                    <input name="couponId" th:field="*{couponId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公司id：</label>
                <div class="col-sm-8">
                    <input name="comparyId" th:field="*{comparyId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数量：</label>
                <div class="col-sm-8">
                    <input name="number" th:field="*{number}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">满足价格条件：</label>
                <div class="col-sm-8">
                    <input name="conditionPrice" th:field="*{conditionPrice}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/coupon";
        $("#form-coupon-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-coupon-edit').serialize());
            }
        }
    </script>
</body>
</html>