<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('公司列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>邀请码：</p>
                                <input type="text" name="invitationCode"/>
                            </li>
                            <li>
                                <p>公司名称：</p>
                                <input type="text" name="companyName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="life:company:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="life:company:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="life:company:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="life:company:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('life:company:edit')}]];
        var removeFlag = [[${@permission.hasPermi('life:company:remove')}]];
        var prefix = ctx + "life/company";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                clickToSelect: true,
                modalName: "公司",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'companyId', 
                    title : '公司名称、',
                    visible: false
                },
                {
                    field : 'invitationCode', 
                    title : '邀请码'
                },
                {
                    field : 'companyName', 
                    title : '公司名称'
                },
                {
                    field : 'invitationUrl',
                    title : '二维码',
                    formatter: function(value, row, index) {
                        return $.table.imageView(value);
                    }

                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.companyId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="removeCompany(\'' + row.companyId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        
        
        function removeCompany(companyId) {
            $.modal.confirm("删除公司及所对应的优惠券信息吗？",function () {
                $.operate.remove(companyId)
            })
        }

        /* 添加用户-选择用户-提交 */
        function submitHandler(index, layero) {
            var rows = $("#" + table.options.id).bootstrapTable('getSelections');
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一个公司");
                return;
            }else if (rows.length > 1) {
                $.modal.alertWarning("只能选择一个公司");
                return;
            }

            // 父页面的方法
            // parent.selectUsers();
            // 父页面的变量
            parent.chooseCompany(rows[0].companyId,rows[0].companyName)
            $.modal.close();
        }

    </script>
</body>
</html>