<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('优惠券设置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-coupon-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">优惠券类型：</label>
                <div class="col-sm-8">
                    <select name="type" class="form-control m-b" onchange="changeType()">
                    </select>

                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">名称：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">优惠券图片：</label>
                <div class="col-sm-8">
                    <input name="img" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">折扣（单位%）：</label>
                <div class="col-sm-8">
                    <input name="discount" type="number" class="form-control" >
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">充值券的积分|余额抵用券的金额：</label>
                <div class="col-sm-8">
                    <input name="point" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">间隔天数：</label>
                <div class="col-sm-8">
                    <input name="intervalDay" class="form-control" type="number">
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 发送相同优惠券数量为多个的时候，此优惠券的开始时间间隔。</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">有效天数：</label>
                <div class="col-sm-8">
                    <input name="enableDay" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用规则：</label>
                <div class="col-sm-8">
                    <select name="astrict" class="form-control m-b">
                    </select>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">优惠券说明：</label>
                <div class="col-sm-8">
                    <input name="remarks" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "life/coupon"
        var type =  [ '产品抵扣券','实物抵用券','充值券','余额抵用券','积分折扣券']
        var astrict = [ '自有课程','外联课程'  ,'所有课程']
        $(function() {
            var $type = $('[name=type]')
            type.forEach(function (value, index) {
                $type.append("<option value=\"" + (index) + "\">" + value + "</option>")
            })
            var $astrict = $('[name=astrict]')
            astrict.forEach(function (value,index) {
                $astrict.append("<option value=\"" + (index-2) + "\">" + value + "</option>")
            })
            changeType()
        })

        function showAddCoupon(){
            $("[class=form-group]").show()
        }

        function changeType(){
            var type = $("[name=type]").val()
            showAddCoupon()
            if (type == 0){
                $("[name=point]").parents(".form-group").hide();
                $("[name=intervalDay]").parents(".form-group").hide();
                $("[name=astrict]").parents(".form-group").hide();
            }else if (type == 1){
                $("[name=discount]").parents(".form-group").hide();
                $("[name=point]").parents(".form-group").hide();
                $("[name=intervalDay]").parents(".form-group").hide();
                $("[name=astrict]").parents(".form-group").hide();
            }else if (type == 2){
                $("[name=img]").parents(".form-group").hide();
                $("[name=discount]").parents(".form-group").hide();
                $("[name=astrict]").parents(".form-group").hide();
            }else if (type == 3){
                $("[name=img]").parents(".form-group").hide();
                $("[name=discount]").parents(".form-group").hide();
            }else{
                $("[name=img]").parents(".form-group").hide();
                $("[name=point]").parents(".form-group").hide();
            }
        }











        $("#form-coupon-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-coupon-add').serialize());
            }
        }
    </script>
</body>
</html>