<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改课程')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: jasny-bootstrap-css" />
    <link th:href="@{/ruoyi/css/course.css}" rel="stylesheet"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-course-edit" th:object="${lifeCourse}">
            <input name="courseId" th:field="*{courseId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">名称：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">课程类型：</label>
                <div class="col-sm-8">
                    <select name="courseType" class="form-control m-b">
                        <option value="1" th:selected="${lifeCourse.courseType == 1}">普通</option>
                        <option value="2" th:selected="${lifeCourse.courseType == 2}">团课</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">课程标签：</label>
                <div class="col-sm-8">
                    <select name="courseLabelId" class="form-control m-b" th:with="type=${@label.selectLifeCourseLabelList(null)}">
                        <option th:each="dict : ${type}" th:text="${dict.courseLabelName}" th:value="${dict.courseLabelId}" th:selected="${dict.courseLabelId == lifeCourse.courseLabelId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">目标一级标签：</label>
                <div class="col-sm-8">
                    <select name="courseClassifyPid" class="form-control m-b" th:with="type=${@classify.getSingleClassify(0)}" onchange="changeType(false)">
                        <option th:each="dict : ${type}" th:text="${dict.courseClassifyName}" th:value="${dict.courseClassifyId}" th:selected="${dict.courseClassifyId == lifeCourse.courseClassifyPid}" ></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">目标二级标签：</label>
                <div class="col-sm-8">
                    <select name="courseClassify2" class="form-control m-b" onchange="changeType(true)">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">目标三级标签：</label>
                <div class="col-sm-8" >
                    <select name="courseClassifyId"class="form-control m-b" >
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">课程种类：</label>
                <div class="col-sm-8">
                    <select name="courseKind" class="form-control m-b" disabled>
                        <option value="0" th:selected="${lifeCourse.courseKind == 0}" >自有课程</option>
                        <option value="1" th:selected="${lifeCourse.courseKind == 1}">外联课程</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">年龄区间 ：</label>
                <div class="col-sm-8">
                    <div class="col-sm-3">
                        <input name="ageOnset" th:field="*{ageOnset}" class="form-control" type="number">
                    </div>
                    <div class="col-sm-1">—</div>
                    <div class="col-sm-3">
                        <input name="ageEnd" th:field="*{ageEnd}" class="form-control col-md-1" type="number">
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> -1 为不限年龄</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">上课地址：</label>
                <div class="col-sm-8">
                    <select name="businessAddressId" class="form-control m-b" th:with="type=${@sysLifeBusinessAddressServiceImpl.selectIAddress()}">
                        <option th:each="dict : ${type}" th:text="${dict.businessAddressName}" th:value="${dict.businessAddressId}" th:selected="${dict.businessAddressId == lifeCourse.businessAddressId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">老师名称：</label>
                <div class="col-sm-8">
                    <input name="teacherName" th:field="*{teacherName}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">数量：</label>
                <div class="col-sm-8">
                    <input name="number" th:field="*{number}" class="form-control" type="number">
                </div>
            </div>


            <div class="form-group">    
                <label class="col-sm-3 control-label">价格：</label>
                <div class="col-sm-8">
                    <input name="price" th:field="*{price}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">积分：</label>
                <div class="col-sm-8">
                    <input name="point" th:value="${lifeCourse.point/2}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">排序字段：</label>
                <div class="col-sm-8">
                    <input name="orderBy" th:field="*{orderBy}" class="form-control" type="number">
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 小程序首页展示课程的排序，数值越大越靠前，最大不超过9223372036854775807</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否推荐：</label>
                <div class="col-sm-8">
                    <input name="recommend" th:field="*{recommend}" class="form-control" type="number">
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 用户点击是否推荐时排序，最大为2147483647</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">课程时长(分钟)：</label>
                <div class="col-sm-8">
                    <input name="courseDuration" th:value="${courseDuration}" class="form-control" type="number">
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 最大9999</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">课程开始前多久不能退款(小时)：</label>
                <div class="col-sm-8">
                    <input name="courseRefundHour" th:value="${courseRefundHour}" class="form-control" type="number">
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 最大72</span>
                </div>
            </div>

            <div class="form-group" name="specification" th:each="item:${specificationList}" >
                <label class="col-sm-3 control-label">规格：</label>
                <input type="hidden" th:value="${item.specificationId}" name="specificationId"/>
                <div class="col-sm-2" style="display: inline-block;">
                    <span>规格名：</span> <input type="text" th:value="${item.specificationName}" class="form-control inputwidth" name="specificationName" style="width: 100px;" >
                </div>
                <div class="col-sm-2" style="display: inline-block;">
                    <span>服务量：</span> <input type="number" th:value="${item.specificationNum}" class="form-control inputwidth" name="specificationNum"  style="width: 100px;" >
                </div>
                <div class="col-sm-2" style="display: inline-block;">
                    <span>折扣(%)：</span> <input type="number" th:value="${item.specificationDiscount}" class="form-control inputwidth" name="specificationDiscount"  style="width: 100px;" >
                </div>
                <a href="javascript:void(0)"  style="font-size: 30px" onclick="reduceSpecification(this)">-</a>
                <a href="javascript:void(0)"  style="font-size: 30px" onclick="addCourseDetail(this)">+</a>
            </div>

            <div class="form-group" name="courseDetail" th:each="item:${courseDetailList}">
                <label class="col-sm-3 control-label">上课时间：</label>
                <input type="hidden" th:value="${item.courseDetailId}" name="courseDetailId"/>
                <div class="col-sm-2" style="display: inline-block;" >
                    <select class="form-control m-b" name="week" >
                        <option value="0" >所有</option>
                        <option value="1" th:selected="${item.week == 1}">周一</option>
                        <option value="2" th:selected="${item.week == 2}">周二</option>
                        <option value="3" th:selected="${item.week == 3}">周三</option>
                        <option value="4" th:selected="${item.week == 4}">周四</option>
                        <option value="5" th:selected="${item.week == 5}">周五</option>
                        <option value="6" th:selected="${item.week == 6}">周六</option>
                        <option value="7" th:selected="${item.week == 7}">周日</option>
                    </select>
                </div>
                <div class="col-sm-2" style="display: inline-block;">
                    <input type="number" class="form-control inputwidth" name="startHour" th:value="${item.startHour}  "> <span>时</span>
                </div>
                <div class="col-sm-2" style="display: inline-block;">
                    <input type="number" class="form-control inputwidth" name="startMinute" th:value="${item.startMinute}  "> <span>分</span>
                </div>
                <a href="javascript:void(0)"  style="font-size: 30px" onclick="reduceCourseDetail(this)">-</a>
                <a href="javascript:void(0)"  style="font-size: 30px" onclick="addCourseDetail(this)">+</a>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">图片：</label>
                <div class="fileinput fileinput-new col-sm-8" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" style="width: 200px; height: 150px;" onclick="clickImg(this)">
                        <img name="imgUrl" th:src="*{imgUrl}"/>
                        <span class="filenone"><input type="file" onchange="changeFile(this,0)"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">轮播图：</label>
                <div class="fileinput fileinput-new col-sm-5" >
                    <div class="ib" th:each=" carousel : ${carousels}">
                        <a href="javascript:void(0)"  style="font-size: 30px" onclick="reduceUpload(this)">-</a>
                        <div class="fileinput-preview thumbnail" style="width: 200px; height: 150px;" onclick="clickImg(this)">
                            <img name="carousel" th:src="${carousel}" />
                            <span class="filenone"><input type="file" onchange="changeFile(this,1)"></span>
                        </div>
                        <a href="javascript:void(0)"  style="font-size: 30px" onclick="addUpload(this)">+</a>
                    </div>
                </div>


            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">师资介绍：</label>
                <div class="fileinput fileinput-new col-sm-8" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" style="width: 200px; height: 150px;" onclick="clickImg(this)">
                        <img name="teacher" th:src="*{teacherExplain}" />
                        <span class="filenone"><input type="file" onchange="changeFile(this,2)"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">规则图片：</label>
                <div class="fileinput fileinput-new col-sm-8" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" style="width: 200px; height: 150px;" onclick="clickImg(this)">
                        <img name="rule" th:src="*{ruleUrl}" />
                        <span class="filenone"><input type="file" onchange="changeFile(this,3)"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">详细信息：</label>
                <div class="fileinput fileinput-new col-sm-8" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" style="width: 200px; height: 150px;" onclick="clickImg(this)">
                        <img name="information" th:src="*{information}" />
                        <span class="filenone"><input type="file" onchange="changeFile(this,4)"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:src="@{/ruoyi/js/course.js}"></script>
    <script th:src="@{/ruoyi/js/courseaddorupdate.js}"></script>
    <script type="text/javascript">
        var prefix = ctx + "life/course";
        $("#form-course-edit").validate({
            focusCleanup: true
        });
        changeType(false)
        chooseType()
        function chooseType() {
            var courseClassify2 = '[[${courseClassify2}]]'
            var courseClassifyId = '[[${lifeCourse.courseClassifyId}]]'
            $('[name=courseClassify2]').val(courseClassify2)
            $('[name=courseClassifyId]').val(courseClassifyId)
        }


        function submitHandler(index,layero) {
            var fromData = getFromData()
            if ($.validate.form()) {
                $.ajax({
                    cache : false,
                    type : "POST",
                    url : ctx + "life/course/edit",
                    data:JSON.stringify(fromData),
                    headers:{
                        'Content-Type':'application/json;charset=utf-8'
                    },
                    success : function(data) {
                        if (data.code == 500) {
                            $.modal.alert(data.msg, 'error')
                        } else {
                            parent.flushTable()
                            $.modal.close()
                        }
                    }
                })

            }
        }


        function resetType(name){
            $("[name = "+name+"]").html('')
        }


    </script>
</body>
</html>